{% extends 'travel/base.html' %}
{% load static %}
{% block title_block %} Form | Freelance iT{% endblock %}
{% block sectionName_block %} Form  {% endblock %}
{% block body_block %}
<div class="grid grid-cols-[50px_100px_auto_100px] border-t border-b bg-[#CC9D53] text-white">
    <p class="text-center border-l border-r py-3 font-bold">SL</p>
    <p class="text-center border-r py-3 font-bold">Date</p>
    <p class="text-center border-r py-3 font-bold">Details</p>
    <a class="text-center border-r py-3 font-bold">Download</a>
</div>
<div class="grid odd:bg-slate-100 hover:bg-slate-100 grid-cols-[50px_100px_auto_100px] border-b">
    <p class="text-center border-l border-r py-3">1</p>
    <p class="text-center border-r py-3">23/12/22</p>
    <p class="text-center border-r py-3">হজ এজেন্সীর মোনাজ্জেম হিসেবে দায়িত্ব পালনের অংগীকারনামা (Form No-14)</p>
    <a class="text-center border-r py-3" href="" download><i class="fa-solid fa-file-arrow-down text-2xl"></i></a>
</div>
<div class="grid odd:bg-slate-100 hover:bg-slate-100 grid-cols-[50px_100px_auto_100px] border-b">
    <p class="text-center border-l border-r py-3">2</p>
    <p class="text-center border-r py-3">23/12/22</p>
    <p class="text-center border-r py-3">হজ এজেন্সীর মোনাজ্জেম হিসেবে দায়িত্ব পালনের অংগীকারনামা (Form No-14)</p>
    <a class="text-center border-r py-3" href="" download><i class="fa-solid fa-file-arrow-down text-2xl"></i></a>
</div>
<div class="grid odd:bg-slate-100 hover:bg-slate-100 grid-cols-[50px_100px_auto_100px] border-b">
    <p class="text-center border-l border-r py-3">3</p>
    <p class="text-center border-r py-3">23/12/22</p>
    <p class="text-center border-r py-3">হজ এজেন্সীর মোনাজ্জেম হিসেবে দায়িত্ব পালনের অংগীকারনামা (Form No-14)</p>
    <a class="text-center border-r py-3" href="" download><i class="fa-solid fa-file-arrow-down text-2xl"></i></a>
</div>
<div class="grid odd:bg-slate-100 hover:bg-slate-100 grid-cols-[50px_100px_auto_100px] border-b">
    <p class="text-center border-l border-r py-3">4</p>
    <p class="text-center border-r py-3">23/12/22</p>
    <p class="text-center border-r py-3">হজ এজেন্সীর মোনাজ্জেম হিসেবে দায়িত্ব পালনের অংগীকারনামা (Form No-14)</p>
    <a class="text-center border-r py-3" href="" download><i class="fa-solid fa-file-arrow-down text-2xl"></i></a>
</div>
<div class="grid odd:bg-slate-100 hover:bg-slate-100 grid-cols-[50px_100px_auto_100px] border-b">
    <p class="text-center border-l border-r py-3">5</p>
    <p class="text-center border-r py-3">23/12/22</p>
    <p class="text-center border-r py-3">হজ এজেন্সীর মোনাজ্জেম হিসেবে দায়িত্ব পালনের অংগীকারনামা (Form No-14)</p>
    <a class="text-center border-r py-3" href="" download><i class="fa-solid fa-file-arrow-down text-2xl"></i></a>
</div>
<div class="grid odd:bg-slate-100 hover:bg-slate-100 grid-cols-[50px_100px_auto_100px] border-b">
    <p class="text-center border-l border-r py-3">6</p>
    <p class="text-center border-r py-3">23/12/22</p>
    <p class="text-center border-r py-3">হজ এজেন্সীর মোনাজ্জেম হিসেবে দায়িত্ব পালনের অংগীকারনামা (Form No-14)</p>
    <a class="text-center border-r py-3" href="" download><i class="fa-solid fa-file-arrow-down text-2xl"></i></a>
</div>
<div class="grid odd:bg-slate-100 hover:bg-slate-100 grid-cols-[50px_100px_auto_100px] border-b">
    <p class="text-center border-l border-r py-3">7</p>
    <p class="text-center border-r py-3">23/12/22</p>
    <p class="text-center border-r py-3">হজ এজেন্সীর মোনাজ্জেম হিসেবে দায়িত্ব পালনের অংগীকারনামা (Form No-14)</p>
    <a class="text-center border-r py-3" href="" download><i class="fa-solid fa-file-arrow-down text-2xl"></i></a>
</div>
<div class="grid odd:bg-slate-100 hover:bg-slate-100 grid-cols-[50px_100px_auto_100px] border-b">
    <p class="text-center border-l border-r py-3">8</p>
    <p class="text-center border-r py-3">23/12/22</p>
    <p class="text-center border-r py-3">হজ এজেন্সীর মোনাজ্জেম হিসেবে দায়িত্ব পালনের অংগীকারনামা (Form No-14)</p>
    <a class="text-center border-r py-3" href="" download><i class="fa-solid fa-file-arrow-down text-2xl"></i></a>
</div>
<div class="grid odd:bg-slate-100 hover:bg-slate-100 grid-cols-[50px_100px_auto_100px] border-b">
    <p class="text-center border-l border-r py-3">9</p>
    <p class="text-center border-r py-3">23/12/22</p>
    <p class="text-center border-r py-3">হজ এজেন্সীর মোনাজ্জেম হিসেবে দায়িত্ব পালনের অংগীকারনামা (Form No-14)</p>
    <a class="text-center border-r py-3" href="" download><i class="fa-solid fa-file-arrow-down text-2xl"></i></a>
</div>
<div class="grid odd:bg-slate-100 hover:bg-slate-100 grid-cols-[50px_100px_auto_100px] border-b">
    <p class="text-center border-l border-r py-3">10</p>
    <p class="text-center border-r py-3">23/12/22</p>
    <p class="text-center border-r py-3">হজ এজেন্সীর মোনাজ্জেম হিসেবে দায়িত্ব পালনের অংগীকারনামা (Form No-14)</p>
    <a class="text-center border-r py-3" href="" download><i class="fa-solid fa-file-arrow-down text-2xl"></i></a>
</div>
{% endblock %}
