{% extends 'travel/base.html' %}
{% load static %}
{% block title_block %} Image Gallery | Freelance iT{% endblock %}
{% block sectionName_block %} Image Gallery {% endblock %}
{% block body_block %}
<div class="gap-3 columns-2 lg:columns-3 2xl:columns-4">
    <div class="relative group drop-shadow-2xl border-4 shadow-md overflow-hidden mb-3 border-slate-300">
        <a href="https://sadmantravels.com/public/uploads/media-gallery/1701351127.jpg" data-fslightbox="gallery"
           class="relative group-hover:grayscale-[100%] duration-300 block h-full w-full">
            <img class="h-full w-full object-cover"
                 src="https://sadmantravels.com/public/uploads/media-gallery/1701351127.jpg" alt="N/A"/>
        </a>
        <a href="https://sadmantravels.com/public/uploads/media-gallery/1701351127.jpg" data-fslightbox="gallery"
           class="block text-black text-base bg-[#FC0002]/40 py-2 px-1 w-full duration-300 text-center ">N/A</a>
    </div>
    <div class="relative group drop-shadow-2xl border-4 shadow-md overflow-hidden mb-3 border-slate-300">
        <a href="https://sadmantravels.com/public/uploads/media-gallery/1695712424.jpg" data-fslightbox="gallery"
           class="relative group-hover:grayscale-[100%] duration-300 block h-full w-full">
            <img class="h-full w-full object-cover"
                 src="https://sadmantravels.com/public/uploads/media-gallery/1695712424.jpg" alt=""/>
        </a>
    </div>
    <div class="relative group drop-shadow-2xl border-4 shadow-md overflow-hidden mb-3 border-slate-300">
        <a href="https://sadmantravels.com/public/uploads/media-gallery/1695712417.jpg" data-fslightbox="gallery"
           class="relative group-hover:grayscale-[100%] duration-300 block h-full w-full">
            <img class="h-full w-full object-cover"
                 src="https://sadmantravels.com/public/uploads/media-gallery/1695712417.jpg" alt=""/>
        </a>
    </div>
    <div class="relative group drop-shadow-2xl border-4 shadow-md overflow-hidden mb-3 border-slate-300">
        <a href="https://sadmantravels.com/public/uploads/media-gallery/1695712411.jpg" data-fslightbox="gallery"
           class="relative group-hover:grayscale-[100%] duration-300 block h-full w-full">
            <img class="h-full w-full object-cover"
                 src="https://sadmantravels.com/public/uploads/media-gallery/1695712411.jpg" alt=""/>
        </a>
    </div>
    <div class="relative group drop-shadow-2xl border-4 shadow-md overflow-hidden mb-3 border-slate-300">
        <a href="https://sadmantravels.com/public/uploads/media-gallery/1695712405.jpg" data-fslightbox="gallery"
           class="relative group-hover:grayscale-[100%] duration-300 block h-full w-full">
            <img class="h-full w-full object-cover"
                 src="https://sadmantravels.com/public/uploads/media-gallery/1695712405.jpg" alt=""/>
        </a>
    </div>
    <div class="relative group drop-shadow-2xl border-4 shadow-md overflow-hidden mb-3 border-slate-300">
        <a href="https://sadmantravels.com/public/uploads/media-gallery/1695712399.jpg" data-fslightbox="gallery"
           class="relative group-hover:grayscale-[100%] duration-300 block h-full w-full">
            <img class="h-full w-full object-cover"
                 src="https://sadmantravels.com/public/uploads/media-gallery/1695712399.jpg" alt=""/>
        </a>
    </div>
    <div class="relative group drop-shadow-2xl border-4 shadow-md overflow-hidden mb-3 border-slate-300">
        <a href="https://sadmantravels.com/public/uploads/media-gallery/1695712393.jpg" data-fslightbox="gallery"
           class="relative group-hover:grayscale-[100%] duration-300 block h-full w-full">
            <img class="h-full w-full object-cover"
                 src="https://sadmantravels.com/public/uploads/media-gallery/1695712393.jpg" alt=""/>
        </a>
    </div>
    <div class="relative group drop-shadow-2xl border-4 shadow-md overflow-hidden mb-3 border-slate-300">
        <a href="https://sadmantravels.com/public/uploads/media-gallery/1695712387.jpg" data-fslightbox="gallery"
           class="relative group-hover:grayscale-[100%] duration-300 block h-full w-full">
            <img class="h-full w-full object-cover"
                 src="https://sadmantravels.com/public/uploads/media-gallery/1695712387.jpg" alt=""/>
        </a>
    </div>
    <div class="relative group drop-shadow-2xl border-4 shadow-md overflow-hidden mb-3 border-slate-300">
        <a href="https://sadmantravels.com/public/uploads/media-gallery/1695712381.jpg" data-fslightbox="gallery"
           class="relative group-hover:grayscale-[100%] duration-300 block h-full w-full">
            <img class="h-full w-full object-cover"
                 src="https://sadmantravels.com/public/uploads/media-gallery/1695712381.jpg" alt=""/>
        </a>
    </div>
    <div class="relative group drop-shadow-2xl border-4 shadow-md overflow-hidden mb-3 border-slate-300">
        <a href="https://sadmantravels.com/public/uploads/media-gallery/1695712375.jpg" data-fslightbox="gallery"
           class="relative group-hover:grayscale-[100%] duration-300 block h-full w-full">
            <img class="h-full w-full object-cover"
                 src="https://sadmantravels.com/public/uploads/media-gallery/1695712375.jpg" alt=""/>
        </a>
    </div>
    <div class="relative group drop-shadow-2xl border-4 shadow-md overflow-hidden mb-3 border-slate-300">
        <a href="https://sadmantravels.com/public/uploads/media-gallery/1695712369.jpg" data-fslightbox="gallery"
           class="relative group-hover:grayscale-[100%] duration-300 block h-full w-full">
            <img class="h-full w-full object-cover"
                 src="https://sadmantravels.com/public/uploads/media-gallery/1695712369.jpg" alt=""/>
        </a>
    </div>
    <div class="relative group drop-shadow-2xl border-4 shadow-md overflow-hidden mb-3 border-slate-300">
        <a href="https://sadmantravels.com/public/uploads/media-gallery/1695712360.jpg" data-fslightbox="gallery"
           class="relative group-hover:grayscale-[100%] duration-300 block h-full w-full">
            <img class="h-full w-full object-cover"
                 src="https://sadmantravels.com/public/uploads/media-gallery/1695712360.jpg" alt=""/>
        </a>
    </div>
    <div class="relative group drop-shadow-2xl border-4 shadow-md overflow-hidden mb-3 border-slate-300">
        <a href="https://sadmantravels.com/public/uploads/media-gallery/1695712354.jpg" data-fslightbox="gallery"
           class="relative group-hover:grayscale-[100%] duration-300 block h-full w-full">
            <img class="h-full w-full object-cover"
                 src="https://sadmantravels.com/public/uploads/media-gallery/1695712354.jpg" alt=""/>
        </a>
    </div>
    <div class="relative group drop-shadow-2xl border-4 shadow-md overflow-hidden mb-3 border-slate-300">
        <a href="https://sadmantravels.com/public/uploads/media-gallery/1695712347.jpg" data-fslightbox="gallery"
           class="relative group-hover:grayscale-[100%] duration-300 block h-full w-full">
            <img class="h-full w-full object-cover"
                 src="https://sadmantravels.com/public/uploads/media-gallery/1695712347.jpg" alt=""/>
        </a>
    </div>
    <div class="relative group drop-shadow-2xl border-4 shadow-md overflow-hidden mb-3 border-slate-300">
        <a href="https://sadmantravels.com/public/uploads/media-gallery/1695712338.jpg" data-fslightbox="gallery"
           class="relative group-hover:grayscale-[100%] duration-300 block h-full w-full">
            <img class="h-full w-full object-cover"
                 src="https://sadmantravels.com/public/uploads/media-gallery/1695712338.jpg" alt=""/>
        </a>
    </div>
    <div class="relative group drop-shadow-2xl border-4 shadow-md overflow-hidden mb-3 border-slate-300">
        <a href="https://sadmantravels.com/public/uploads/media-gallery/1695106662.jpg" data-fslightbox="gallery"
           class="relative group-hover:grayscale-[100%] duration-300 block h-full w-full">
            <img class="h-full w-full object-cover"
                 src="https://sadmantravels.com/public/uploads/media-gallery/1695106662.jpg" alt=""/>
        </a>
    </div>
    <div class="relative group drop-shadow-2xl border-4 shadow-md overflow-hidden mb-3 border-slate-300">
        <a href="https://sadmantravels.com/public/uploads/media-gallery/1695106649.jpg" data-fslightbox="gallery"
           class="relative group-hover:grayscale-[100%] duration-300 block h-full w-full">
            <img class="h-full w-full object-cover"
                 src="https://sadmantravels.com/public/uploads/media-gallery/1695106649.jpg" alt=""/>
        </a>
    </div>
    <div class="relative group drop-shadow-2xl border-4 shadow-md overflow-hidden mb-3 border-slate-300">
        <a href="https://sadmantravels.com/public/uploads/media-gallery/1695106639.jpg" data-fslightbox="gallery"
           class="relative group-hover:grayscale-[100%] duration-300 block h-full w-full">
            <img class="h-full w-full object-cover"
                 src="https://sadmantravels.com/public/uploads/media-gallery/1695106639.jpg" alt=""/>
        </a>
    </div>
    <div class="relative group drop-shadow-2xl border-4 shadow-md overflow-hidden mb-3 border-slate-300">
        <a href="https://sadmantravels.com/public/uploads/media-gallery/1695106619.jpg" data-fslightbox="gallery"
           class="relative group-hover:grayscale-[100%] duration-300 block h-full w-full">
            <img class="h-full w-full object-cover"
                 src="https://sadmantravels.com/public/uploads/media-gallery/1695106619.jpg" alt=""/>
        </a>
    </div>
    <div class="relative group drop-shadow-2xl border-4 shadow-md overflow-hidden mb-3 border-slate-300">
        <a href="https://sadmantravels.com/public/uploads/media-gallery/1695106611.jpg" data-fslightbox="gallery"
           class="relative group-hover:grayscale-[100%] duration-300 block h-full w-full">
            <img class="h-full w-full object-cover"
                 src="https://sadmantravels.com/public/uploads/media-gallery/1695106611.jpg" alt=""/>
        </a>
    </div>
    <div class="relative group drop-shadow-2xl border-4 shadow-md overflow-hidden mb-3 border-slate-300">
        <a href="https://sadmantravels.com/public/uploads/media-gallery/1695106603.jpg" data-fslightbox="gallery"
           class="relative group-hover:grayscale-[100%] duration-300 block h-full w-full">
            <img class="h-full w-full object-cover"
                 src="https://sadmantravels.com/public/uploads/media-gallery/1695106603.jpg" alt=""/>
        </a>
    </div>
    <div class="relative group drop-shadow-2xl border-4 shadow-md overflow-hidden mb-3 border-slate-300">
        <a href="https://sadmantravels.com/public/uploads/media-gallery/1695106552.jpg" data-fslightbox="gallery"
           class="relative group-hover:grayscale-[100%] duration-300 block h-full w-full">
            <img class="h-full w-full object-cover"
                 src="https://sadmantravels.com/public/uploads/media-gallery/1695106552.jpg" alt=""/>
        </a>
    </div>
    <div class="relative group drop-shadow-2xl border-4 shadow-md overflow-hidden mb-3 border-slate-300">
        <a href="https://sadmantravels.com/public/uploads/media-gallery/1695106542.jpg" data-fslightbox="gallery"
           class="relative group-hover:grayscale-[100%] duration-300 block h-full w-full">
            <img class="h-full w-full object-cover"
                 src="https://sadmantravels.com/public/uploads/media-gallery/1695106542.jpg" alt=""/>
        </a>
    </div>
    <div class="relative group drop-shadow-2xl border-4 shadow-md overflow-hidden mb-3 border-slate-300">
        <a href="https://sadmantravels.com/public/uploads/media-gallery/1695106521.jpg" data-fslightbox="gallery"
           class="relative group-hover:grayscale-[100%] duration-300 block h-full w-full">
            <img class="h-full w-full object-cover"
                 src="https://sadmantravels.com/public/uploads/media-gallery/1695106521.jpg" alt=""/>
        </a>
    </div>
    <div class="relative group drop-shadow-2xl border-4 shadow-md overflow-hidden mb-3 border-slate-300">
        <a href="https://sadmantravels.com/public/uploads/media-gallery/1695106501.jpg" data-fslightbox="gallery"
           class="relative group-hover:grayscale-[100%] duration-300 block h-full w-full">
            <img class="h-full w-full object-cover"
                 src="https://sadmantravels.com/public/uploads/media-gallery/1695106501.jpg" alt=""/>
        </a>
    </div>
    <div class="relative group drop-shadow-2xl border-4 shadow-md overflow-hidden mb-3 border-slate-300">
        <a href="https://sadmantravels.com/public/uploads/media-gallery/1695106492.jpg" data-fslightbox="gallery"
           class="relative group-hover:grayscale-[100%] duration-300 block h-full w-full">
            <img class="h-full w-full object-cover"
                 src="https://sadmantravels.com/public/uploads/media-gallery/1695106492.jpg" alt=""/>
        </a>
    </div>
    <div class="relative group drop-shadow-2xl border-4 shadow-md overflow-hidden mb-3 border-slate-300">
        <a href="https://sadmantravels.com/public/uploads/media-gallery/1695105459.jpg" data-fslightbox="gallery"
           class="relative group-hover:grayscale-[100%] duration-300 block h-full w-full">
            <img class="h-full w-full object-cover"
                 src="https://sadmantravels.com/public/uploads/media-gallery/1695105459.jpg" alt=""/>
        </a>
    </div>
    <div class="relative group drop-shadow-2xl border-4 shadow-md overflow-hidden mb-3 border-slate-300">
        <a href="https://sadmantravels.com/public/uploads/media-gallery/1695105450.jpg" data-fslightbox="gallery"
           class="relative group-hover:grayscale-[100%] duration-300 block h-full w-full">
            <img class="h-full w-full object-cover"
                 src="https://sadmantravels.com/public/uploads/media-gallery/1695105450.jpg" alt=""/>
        </a>
    </div>
    <div class="relative group drop-shadow-2xl border-4 shadow-md overflow-hidden mb-3 border-slate-300">
        <a href="https://sadmantravels.com/public/uploads/media-gallery/1695105439.jpg" data-fslightbox="gallery"
           class="relative group-hover:grayscale-[100%] duration-300 block h-full w-full">
            <img class="h-full w-full object-cover"
                 src="https://sadmantravels.com/public/uploads/media-gallery/1695105439.jpg" alt=""/>
        </a>
    </div>
    <div class="relative group drop-shadow-2xl border-4 shadow-md overflow-hidden mb-3 border-slate-300">
        <a href="https://sadmantravels.com/public/uploads/media-gallery/1695105422.jpg" data-fslightbox="gallery"
           class="relative group-hover:grayscale-[100%] duration-300 block h-full w-full">
            <img class="h-full w-full object-cover"
                 src="https://sadmantravels.com/public/uploads/media-gallery/1695105422.jpg" alt=""/>
        </a>
    </div>
    <div class="relative group drop-shadow-2xl border-4 shadow-md overflow-hidden mb-3 border-slate-300">
        <a href="https://sadmantravels.com/public/uploads/media-gallery/1695105414.jpg" data-fslightbox="gallery"
           class="relative group-hover:grayscale-[100%] duration-300 block h-full w-full">
            <img class="h-full w-full object-cover"
                 src="https://sadmantravels.com/public/uploads/media-gallery/1695105414.jpg" alt=""/>
        </a>
    </div>
    <div class="relative group drop-shadow-2xl border-4 shadow-md overflow-hidden mb-3 border-slate-300">
        <a href="https://sadmantravels.com/public/uploads/media-gallery/1695105406.jpg" data-fslightbox="gallery"
           class="relative group-hover:grayscale-[100%] duration-300 block h-full w-full">
            <img class="h-full w-full object-cover"
                 src="https://sadmantravels.com/public/uploads/media-gallery/1695105406.jpg" alt=""/>
        </a>
    </div>
    <div class="relative group drop-shadow-2xl border-4 shadow-md overflow-hidden mb-3 border-slate-300">
        <a href="https://sadmantravels.com/public/uploads/media-gallery/1695105391.jpg" data-fslightbox="gallery"
           class="relative group-hover:grayscale-[100%] duration-300 block h-full w-full">
            <img class="h-full w-full object-cover"
                 src="https://sadmantravels.com/public/uploads/media-gallery/1695105391.jpg" alt=""/>
        </a>
    </div>
    <div class="relative group drop-shadow-2xl border-4 shadow-md overflow-hidden mb-3 border-slate-300">
        <a href="https://sadmantravels.com/public/uploads/media-gallery/1695105381.jpg" data-fslightbox="gallery"
           class="relative group-hover:grayscale-[100%] duration-300 block h-full w-full">
            <img class="h-full w-full object-cover"
                 src="https://sadmantravels.com/public/uploads/media-gallery/1695105381.jpg" alt=""/>
        </a>
    </div>
    <div class="relative group drop-shadow-2xl border-4 shadow-md overflow-hidden mb-3 border-slate-300">
        <a href="https://sadmantravels.com/public/uploads/media-gallery/1695105371.jpg" data-fslightbox="gallery"
           class="relative group-hover:grayscale-[100%] duration-300 block h-full w-full">
            <img class="h-full w-full object-cover"
                 src="https://sadmantravels.com/public/uploads/media-gallery/1695105371.jpg" alt=""/>
        </a>
    </div>
</div>

{% endblock %}
 