{% extends 'travel/base.html' %}
{% load static %}
{% block title_block %} Notice| Freelance iT{% endblock %}
{% block sectionName_block %} Notice  {% endblock %}
{% block body_block %}
    
     <a href="https://sadmantravels.com/single/1" class="block p-2 border-b duration-300 hover:bg-slate-200">
                <div class="flex items-center gap-3">
                    <i class="fa-regular fa-hand-point-right text-[12px] text-gray-600"></i>
                    <p class="line-clamp-1 font-medium">
                        সুস্থতার জন্য দোয়া কামনা
                    </p>
                </div>
                <p class="text-[#FC0002] pl-6 text-sm">
                    <span class="font-bold">
                        Publish: 
                    </span> Tuesday 10th October 2023
                </p>
            </a>
                    <a href="https://sadmantravels.com/single/2" class="block p-2 border-b duration-300 hover:bg-slate-200">
                <div class="flex items-center gap-3">
                    <i class="fa-regular fa-hand-point-right text-[12px] text-gray-600"></i>
                    <p class="line-clamp-1 font-medium">
                        হজ এজেন্সির হালনাগাদ তথ্য সরবরাহ প্রসংগে
                    </p>
                </div>
                <p class="text-[#FC0002] pl-6 text-sm">
                    <span class="font-bold">
                        Publish: 
                    </span> Tuesday 10th October 2023
                </p>
            </a>
                    <a href="https://sadmantravels.com/single/3" class="block p-2 border-b duration-300 hover:bg-slate-200">
                <div class="flex items-center gap-3">
                    <i class="fa-regular fa-hand-point-right text-[12px] text-gray-600"></i>
                    <p class="line-clamp-1 font-medium">
                        হজযাত্রীদের প্রাক নিবন্ধন বাতিলের টাকা প্রাপ্তির প্রক্রিয়া সহজীকরণ প্রসঙ্গে
                    </p>
                </div>
                <p class="text-[#FC0002] pl-6 text-sm">
                    <span class="font-bold">
                        Publish: 
                    </span> Tuesday 10th October 2023
                </p>
            </a>
                    <a href="https://sadmantravels.com/single/4" class="block p-2 border-b duration-300 hover:bg-slate-200">
                <div class="flex items-center gap-3">
                    <i class="fa-regular fa-hand-point-right text-[12px] text-gray-600"></i>
                    <p class="line-clamp-1 font-medium">
                        ওমরাহ কার্যক্রমে এজেন্সির তালিকা প্রকাশ সংক্রান্ত বিজ্ঞপ্তি
                    </p>
                </div>
                <p class="text-[#FC0002] pl-6 text-sm">
                    <span class="font-bold">
                        Publish: 
                    </span> Tuesday 10th October 2023
                </p>
            </a>
                    <a href="https://sadmantravels.com/single/5" class="block p-2 border-b duration-300 hover:bg-slate-200">
                <div class="flex items-center gap-3">
                    <i class="fa-regular fa-hand-point-right text-[12px] text-gray-600"></i>
                    <p class="line-clamp-1 font-medium">
                        হজযাত্রীদের ভিসা দ্রুত ইস্যুকরণ প্রসংগে
                    </p>
                </div>
                <p class="text-[#FC0002] pl-6 text-sm">
                    <span class="font-bold">
                        Publish: 
                    </span> Tuesday 10th October 2023
                </p>
            </a>
                    <a href="https://sadmantravels.com/single/6" class="block p-2 border-b duration-300 hover:bg-slate-200">
                <div class="flex items-center gap-3">
                    <i class="fa-regular fa-hand-point-right text-[12px] text-gray-600"></i>
                    <p class="line-clamp-1 font-medium">
                        পাসপোর্টে হজযাত্রীদের বাড়ীর সঠিক ঠিকানার স্টিকার লাগানো প্রসংগে
                    </p>
                </div>
                <p class="text-[#FC0002] pl-6 text-sm">
                    <span class="font-bold">
                        Publish: 
                    </span> Tuesday 10th October 2023
                </p>
            </a>
{% endblock %}