{% extends 'travel/base.html' %}
{% load static %}
{% block title_block %} Video Gallery | Freelance iT{% endblock %}
{% block sectionName_block %} Video Gallery  {% endblock %}
{% block body_block %}

    <div class="grid grid-cols-2 gap-6">
        <div data-aos="zoom-out">
            <a href="https://www.youtube.com/watch?v=zxwugoT5BA4" target="_blank" data-fslightbox="gallery"
               class="block relative group drop-shadow-2xl duration-300 hover:scale-[1.02] border-2 border-slate-200 shadow-lg overflow-hidden">
                <div class="aspect-[16/9] w-full">
                    <img
                            class="h-full w-full object-cover"
                            src="https://img.youtube.com/vi/zxwugoT5BA4/hqdefault.jpg"
                            alt="Video Gallery"
                    />
                </div>
                <div class="absolute transition delay-150 left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%]  text-red-600 text-3xl  after:absolute after:left-3 after:right-3 after:top-3 after:bottom-3 after:content-[''] after:bg-white z-[1] after:z-[-1]">
                    <i class="fa-brands fa-youtube"></i>
                </div>

            </a>
        </div>
        <div data-aos="zoom-out">
            <a href="https://www.youtube.com/watch?v=EKI9g5THuJE" target="_blank" data-fslightbox="gallery"
               class="block relative group drop-shadow-2xl duration-300 hover:scale-[1.02] border-2 border-slate-200 shadow-lg overflow-hidden">
                <div class="aspect-[16/9] w-full">
                    <img
                            class="h-full w-full object-cover"
                            src="https://img.youtube.com/vi/EKI9g5THuJE/hqdefault.jpg"
                            alt="Video Gallery"
                    />
                </div>
                <div class="absolute transition delay-150 left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%]  text-red-600 text-3xl  after:absolute after:left-3 after:right-3 after:top-3 after:bottom-3 after:content-[''] after:bg-white z-[1] after:z-[-1]">
                    <i class="fa-brands fa-youtube"></i>
                </div>

            </a>
        </div>
        <div data-aos="zoom-out">
            <a href="https://www.youtube.com/watch?v=rr3rC9T3c8o" target="_blank" data-fslightbox="gallery"
               class="block relative group drop-shadow-2xl duration-300 hover:scale-[1.02] border-2 border-slate-200 shadow-lg overflow-hidden">
                <div class="aspect-[16/9] w-full">
                    <img
                            class="h-full w-full object-cover"
                            src="https://img.youtube.com/vi/rr3rC9T3c8o/hqdefault.jpg"
                            alt="Video Gallery"
                    />
                </div>
                <div class="absolute transition delay-150 left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%]  text-red-600 text-3xl  after:absolute after:left-3 after:right-3 after:top-3 after:bottom-3 after:content-[''] after:bg-white z-[1] after:z-[-1]">
                    <i class="fa-brands fa-youtube"></i>
                </div>

            </a>
        </div>
        <div data-aos="zoom-out">
            <a href="https://www.youtube.com/watch?v=ajRB9P-LyE4" target="_blank" data-fslightbox="gallery"
               class="block relative group drop-shadow-2xl duration-300 hover:scale-[1.02] border-2 border-slate-200 shadow-lg overflow-hidden">
                <div class="aspect-[16/9] w-full">
                    <img
                            class="h-full w-full object-cover"
                            src="https://img.youtube.com/vi/ajRB9P-LyE4/hqdefault.jpg"
                            alt="Video Gallery"
                    />
                </div>
                <div class="absolute transition delay-150 left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%]  text-red-600 text-3xl  after:absolute after:left-3 after:right-3 after:top-3 after:bottom-3 after:content-[''] after:bg-white z-[1] after:z-[-1]">
                    <i class="fa-brands fa-youtube"></i>
                </div>

            </a>
        </div>
        <div data-aos="zoom-out">
            <a href="https://www.youtube.com/watch?v=KMs5migTPis" target="_blank" data-fslightbox="gallery"
               class="block relative group drop-shadow-2xl duration-300 hover:scale-[1.02] border-2 border-slate-200 shadow-lg overflow-hidden">
                <div class="aspect-[16/9] w-full">
                    <img
                            class="h-full w-full object-cover"
                            src="https://img.youtube.com/vi/KMs5migTPis/hqdefault.jpg"
                            alt="Video Gallery"
                    />
                </div>
                <div class="absolute transition delay-150 left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%]  text-red-600 text-3xl  after:absolute after:left-3 after:right-3 after:top-3 after:bottom-3 after:content-[''] after:bg-white z-[1] after:z-[-1]">
                    <i class="fa-brands fa-youtube"></i>
                </div>

            </a>
        </div>
        <div data-aos="zoom-out">
            <a href="https://www.youtube.com/watch?v=PQOB4MvQBdQ" target="_blank" data-fslightbox="gallery"
               class="block relative group drop-shadow-2xl duration-300 hover:scale-[1.02] border-2 border-slate-200 shadow-lg overflow-hidden">
                <div class="aspect-[16/9] w-full">
                    <img
                            class="h-full w-full object-cover"
                            src="https://img.youtube.com/vi/PQOB4MvQBdQ/hqdefault.jpg"
                            alt="Video Gallery"
                    />
                </div>
                <div class="absolute transition delay-150 left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%]  text-red-600 text-3xl  after:absolute after:left-3 after:right-3 after:top-3 after:bottom-3 after:content-[''] after:bg-white z-[1] after:z-[-1]">
                    <i class="fa-brands fa-youtube"></i>
                </div>

            </a>
        </div>
        <div data-aos="zoom-out">
            <a href="https://www.youtube.com/watch?v=RveX74HYnEU" target="_blank" data-fslightbox="gallery"
               class="block relative group drop-shadow-2xl duration-300 hover:scale-[1.02] border-2 border-slate-200 shadow-lg overflow-hidden">
                <div class="aspect-[16/9] w-full">
                    <img
                            class="h-full w-full object-cover"
                            src="https://img.youtube.com/vi/RveX74HYnEU/hqdefault.jpg"
                            alt="Video Gallery"
                    />
                </div>
                <div class="absolute transition delay-150 left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%]  text-red-600 text-3xl  after:absolute after:left-3 after:right-3 after:top-3 after:bottom-3 after:content-[''] after:bg-white z-[1] after:z-[-1]">
                    <i class="fa-brands fa-youtube"></i>
                </div>

            </a>
        </div>
        <div data-aos="zoom-out">
            <a href="https://www.youtube.com/watch?v=08z1sPiYeGA" target="_blank" data-fslightbox="gallery"
               class="block relative group drop-shadow-2xl duration-300 hover:scale-[1.02] border-2 border-slate-200 shadow-lg overflow-hidden">
                <div class="aspect-[16/9] w-full">
                    <img
                            class="h-full w-full object-cover"
                            src="https://img.youtube.com/vi/08z1sPiYeGA/hqdefault.jpg"
                            alt="Video Gallery"
                    />
                </div>
                <div class="absolute transition delay-150 left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%]  text-red-600 text-3xl  after:absolute after:left-3 after:right-3 after:top-3 after:bottom-3 after:content-[''] after:bg-white z-[1] after:z-[-1]">
                    <i class="fa-brands fa-youtube"></i>
                </div>

            </a>
        </div>
    </div>

{% endblock %}