{% extends 'travel/base.html' %}
{% load embed_video_tags %}
{% load static %}
{% block title_block %} Video Gallery | Freelance iT{% endblock %}
{% block sectionName_block %} Video Gallery  {% endblock %}
{% block body_block %}

    <div class="grid grid-cols-2 gap-6">
        {% for vid in video_gallery %}
            <div data-aos="zoom-out">
                <a href="{{ vid.video }}" target="_blank" data-fslightbox="gallery"
                   class="block relative group drop-shadow-2xl duration-300 hover:scale-[1.02] border-2 border-slate-200 shadow-lg overflow-hidden">
                    <div class="aspect-[16/9] w-full">
                        <img
                                class="h-full w-full object-cover"
                                src="{{ vid.video }}"
                                alt="Video Gallery"
                        />
                    </div>
                    <div class="absolute transition delay-150 left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%]  text-red-600 text-3xl  after:absolute after:left-3 after:right-3 after:top-3 after:bottom-3 after:content-[''] after:bg-white z-[1] after:z-[-1]">
                        <i class="fa-brands fa-youtube"></i>
                    </div>


                </a>
            </div>
        {% endfor %}
    <p>I am from out tag</p>
        {% for foo in video_gallery %}
            {% video foo.url '426x240' %}
            <video width="50%" height="50%" src="{{ foo.video }}"></video>
        {% endfor %}
    </div>

{% endblock %}