{% extends 'dashboard/base.html' %}
{% load static %}
{% block body_block %}
    <!-- body container start -->
    <div class="body_container">
        <!-- body nav start -->
        <div class="body_nav">
            <ul>
                <li><a class="addTeam" href="{% url 'dashBoard_app:add_all_forms' %}">Add Form</a></li>
                <li><a class="allTeam" href="{% url 'dashBoard_app:all_forms' %}">All Forms</a></li>
            </ul>
        </div>
        <!-- body nav start -->

        <!-- body content start -->
        <div class="body_content">
            <div class="panel_container">
                <div class="panel_heading">
                    <h4>All Forms</h4>
                    <div class="">
                        <a href="{% url 'dashBoard_app:add_all_forms' %}" class="print_btn" id="plus"><i
                                class="fa fa-plus"></i> Add New</a>
                        <a id="print" class="print_btn" onclick="window.print()"><i class="icon ion-md-print"></i> Print</a>
                    </div>
                </div>
                <div class="panel_body">
                    <div class="table-responsive">
                        <table class="table table-bordered list-table">
                            <thead>
                            <tr>
                                <th style="width: 40px;">SL</th>
                                <th>Title</th>
                                <th>Published Date</th>
                                <th>File</th>
                                <th style="width: 120px;" class="text-right print_hide">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for all in all %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ all.subject }}</td>
                                    <td>{{ all.pub_date }}</td>
                                    <td><a href="{{ all.file.url }}"> {{ all.file.url }}</a></td>
                                    <td class="operation_btn text-right print_hide">
                                        <a href="{% url 'dashBoard_app:edit_all_forms' pk=all.pk %}" class="edit"
                                           title="Edit">
                                            <i class="far fa-edit"></i>
                                        </a>
{#                                        <a href="{% url 'dashBoard_app:details_all_forms' pk=all.pk %}"#}
{#                                           class="view"#}
{#                                           title="View">#}
{#                                            <i class="far fa-eye"></i>#}
                                            {#                                            target="_blank"#}
{#                                        </a>#}
                                        <a href="{% url 'dashBoard_app:delete_all_forms' pk=all.pk %}"
                                           onclick="return confirm('Do you want to delete this data?')" class="delete"
                                           title="Delete">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel_footer"></div>
            </div>
        </div>
        <!-- body content end -->
    </div>
    <!-- body container end -->
    </div>
    <!-- body section end -->
{% endblock %}