{% load static %}


<div class="grid grid-cols-1 md:grid-cols-[auto_30%] mx-6 items-start  gap-6">
 <!------------------ 1st Section Start  ------------------>
    <div>
        <div class="relative z-[1] mt-5 bg-slate-200">
            <div class="p-5">
                <div class="grid lg:grid-cols-[270px_auto] gap-5">
                    <img class="aspect-square w-full rounded-lg object-cover"
                         src="{% static 'picture/pexels-moh-adbelghaffar-771742.jpg' %}"/>
                    <div>
                        <h3 class="font-bold text-[#FC0002] my-3 text-lg line-clamp-2">Engr. Mustafizur Rahman Sohel
                            <span
                                    class="block text-sm text-gray-700">CEO </span></h3>
                        <p class="float-left line-clamp-6">Today, as we gather here, I am reminded of the
                            powerful words of Malcolm X: &quot;The pilgrimage to Mecca, known as Hajj, is a
                            turning point in the life of every Muslim.&quot; It is indeed a profound journey,
                            one that transforms hearts and souls, and I stand before you as the president of our
                            esteemed Hajj agency to ensure that this transformative pilgrimage is a memorable
                            and spiritually enriching experience for each and every one of our pilgrims.

                            Before we delve further into the preparations and services we offer, let me share a
                            quote that resonates deeply with the essence of the Hajj: &quot;He who performs Hajj
                            without speaking or committing indecencies, returns as pure from sins as on the day
                            his mother bore him.&quot; This Hadith emphasizes the importance of piety, purity,
                            and devotion during the Hajj journey.

                            Now, let&#39;s move on to the practical aspects of your pilgrimage. We understand
                            that meticulous planning and organization are paramount. To that end, here is a list
                            of essential items you should consider for your Hajj:


                            Ihram clothing: The simple white attire symbolizes purity and equality among all
                            pilgrims.
                            Prayer rug and Quran: To engage in daily prayers and reflection during your journey.
                            Personal hygiene products: Ensure you have toiletries, a toothbrush, and unscented
                            soap.
                            Medications and medical supplies: Carry any necessary prescriptions and basic
                            first-aid items.
                            Reusable water bottle: Staying hydrated is crucial during the Hajj, so have a
                            refillable bottle.
                            Comfortable walking shoes: You&#39;ll be on your feet a lot, so choose comfortable,
                            sturdy footwear.
                            Backpack or bag: Carry your essentials with you during the rituals.
                            Identification and important documents: Passport, visa, and copies in a secure
                            pouch.
                            Mobile phone and charger: Stay connected with your group and loved ones.
                            Snacks: High-energy, non-perishable items for sustenance.


                            In our digital age, we understand the importance of staying connected, especially
                            during this sacred journey.....</p>
                        <a href="##"
                           class="relative inline-flex items-center gap-2 mt-5 font-bold py-1 px-3 duration-300 text-[#FC0002] border border-[#FC0002]/30 uppercase text-[12px] overflow-hidden rounded-md z-[1]  hover:text-white after:absolute after:content-[''] after:left-0 after:bottom-0 after:h-0 after:w-0 after:duration-300 after:z-[-1] after:bg-[#FC0002] hover:after:h-full hover:after:w-full ">Read
                            More <i class="fa-regular fa-paper-plane"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-amber-700 w-full aspect-square my-5">
            <img src="{% static 'picture/hajNiyom2.jpg' %}" class="h-full w-full" alt=""/>
        </div>

        <div>
            <h3 class="bg-[#FC0002] bg-gradient-to-tr from-[#fc002a] to-purple-800 relative after:absolute after:content after:left-0 after:top-0 after:bottom-0 after:w-[48px] after:bg-[url(https://sadmantravels.com/public/frontend/images/title-after-bg.png)] after:bg-cover before:absolute before:content before:right-0 before:[transform:scaleX(-1)] before:top-0 before:bottom-0 before:w-[48px] before:bg-[url(https://sadmantravels.com/public/frontend/images/title-after-bg.png)] before:bg-cover mb-2 p-2 text-2xl font-bold text-center text-white">
                Image Gallery
            </h3>
            <div class="gap-3 grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 items-start">
                <a href="###"
                   data-fslightbox="gallery"
                   class="border-4 shadow-md overflow-hidden border-slate-300 relative block group-hover:grayscale-[100%] duration-300 h-[150px] w-full">
                    <img class="h-full w-full object-cover"
                         src="{% static 'picture/pexels-moh-adbelghaffar-771742.jpg.jpg' %}" alt="N/A"/>
                </a>
                <a href="##"
                   data-fslightbox="gallery"
                   class="border-4 shadow-md overflow-hidden border-slate-300 relative block group-hover:grayscale-[100%] duration-300 h-[150px] w-full">
                    <img class="h-full w-full object-cover"
                         src="{% static 'picture/img.png' %}" alt=""/>
                </a>
                <a href="##"
                   data-fslightbox="gallery"
                   class="border-4 shadow-md overflow-hidden border-slate-300 relative block group-hover:grayscale-[100%] duration-300 h-[150px] w-full">
                    <img class="h-full w-full object-cover"
                         src="{% static 'picture/img_1.png' %}" alt=""/>
                </a>
                <a href="##"
                   data-fslightbox="gallery"
                   class="border-4 shadow-md overflow-hidden border-slate-300 relative block group-hover:grayscale-[100%] duration-300 h-[150px] w-full">
                    <img class="h-full w-full object-cover"
                         src="{% static 'picture/img_2.png' %}" alt=""/>
                </a>
                <a href="##"
                   data-fslightbox="gallery"
                   class="border-4 shadow-md overflow-hidden border-slate-300 relative block group-hover:grayscale-[100%] duration-300 h-[150px] w-full">
                    <img class="h-full w-full object-cover"
                         src="{% static 'picture/img_3.png' %}" alt=""/>
                </a>
                <a href="##"
                   data-fslightbox="gallery"
                   class="border-4 shadow-md overflow-hidden border-slate-300 relative block group-hover:grayscale-[100%] duration-300 h-[150px] w-full">
                    <img class="h-full w-full object-cover"
                         src="{% static 'picture/img_4.png' %}" alt=""/>
                </a>
                <a href="$$"
                   data-fslightbox="gallery"
                   class="border-4 shadow-md overflow-hidden border-slate-300 relative block group-hover:grayscale-[100%] duration-300 h-[150px] w-full">
                    <img class="h-full w-full object-cover"
                         src="{% static 'picture/img_5.png' %}" alt=""/>
                </a>
                <a href="##"
                   data-fslightbox="gallery"
                   class="border-4 shadow-md overflow-hidden border-slate-300 relative block group-hover:grayscale-[100%] duration-300 h-[150px] w-full">
                    <img class="h-full w-full object-cover"
                         src="{% static 'picture/img_6.png' %}" alt=""/>
                </a>
            </div>
        </div>

        <div class="my-5">
            <h3 class="bg-[#FC0002] bg-gradient-to-tr from-[#fc002a] to-purple-800 relative after:absolute after:content after:left-0 after:top-0 after:bottom-0 after:w-[48px] after:bg-[url(https://sadmantravels.com/public/frontend/images/title-after-bg.png)] after:bg-cover before:absolute before:content before:right-0 before:[transform:scaleX(-1)] before:top-0 before:bottom-0 before:w-[48px] before:bg-[url({% static 'icon/title-after-bg.png' %})] before:bg-cover mb-2 p-2 text-2xl font-bold text-center text-white">
                Latest News
            </h3>
            <div class="gap-3 grid md:grid-cols-2 lg:grid-cols-3 items-start">
                <div class="border p-1 group">
                    <div class="w-full aspect-video overflow-hidden">
                        <img class="w-full h-full group-hover:scale-125 duration-300 object-cover"
                             src="{% static 'picture/img_7.png' %}"
                             alt="মক্কা | ইসলাম ধর্মের পবিত্রতম নগরী | বিশ্ব প্রান্তরে | Mecca | Bishwo Prantore"/>
                    </div>
                    <div class="h-[120px]">
                        <a href="***"
                           class="group-hover:text-[#fc0002] duration-300 block my-2 font-bold">মক্কা | ইসলাম
                            ধর্মের পবিত্রতম নগরী | বিশ্ব প্রান্তরে |....</a>

                        <a href="$###"
                           class="p-[2px] px-2 mt-2 text-sm bg-[#FC0002] hover:bg-[#A80001] text-white inline-block">Read
                            More</a>
                    </div>
                </div>
                <div class="border p-1 group">
                    <div class="w-full aspect-video overflow-hidden">
                        <img class="w-full h-full group-hover:scale-125 duration-300 object-cover"
                             src="{% static 'picture/modina.png' %}"
                             alt="মদীনা | হযরত মোহাম্মদ (সা:) এর প্রিয় শহর | বিশ্ব প্রান্তরে | Medina | Bishwo Prantore"/>
                    </div>
                    <div class="h-[120px]">
                        <a href="###"
                           class="group-hover:text-[#fc0002] duration-300 block my-2 font-bold">মদীনা | হযরত
                            মোহাম্মদ (সা:) এর প্রিয় শহর | বিশ্ব....</a>

                        <a href="###"
                           class="p-[2px] px-2 mt-2 text-sm bg-[#FC0002] hover:bg-[#A80001] text-white inline-block">Read
                            More</a>
                    </div>
                </div>
                <div class="border p-1 group">
                    <div class="w-full aspect-video overflow-hidden">
                        <img class="w-full h-full group-hover:scale-125 duration-300 object-cover"
                             src="{% static 'picture/umraNiyomTalim.png' %}"
                             alt="উমরাহ তালিম: উমরাহ করার নিয়ম, মাসলা-মাসায়েল এবং প্রশ্নোত্তর পর্ব"/>
                    </div>
                    <div class="h-[120px]">
                        <a href="##"
                           class="group-hover:text-[#fc0002] duration-300 block my-2 font-bold">উমরাহ তালিম:
                            উমরাহ করার নিয়ম, মাসলা-মাসায়েল এবং প্রশ্নোত্তর পর্ব </a>

                        <a href="##"
                           class="p-[2px] px-2 mt-2 text-sm bg-[#FC0002] hover:bg-[#A80001] text-white inline-block">Read
                            More</a>
                    </div>
                </div>
                <div class="border p-1 group">
                    <div class="w-full aspect-video overflow-hidden">
                        <img class="w-full h-full group-hover:scale-125 duration-300 object-cover"
                             src="{% static 'picture/umraPodhooti.jpg' %}"
                             alt="উমরাহ করার পদ্ধতি ।। হজ ও উমরা ।। Haj &amp; Umrah ।। Invitation to Change"/>
                    </div>
                    <div class="h-[120px]">
                        <a href="##"
                           class="group-hover:text-[#fc0002] duration-300 block my-2 font-bold">উমরাহ করার
                            পদ্ধতি ।। হজ ও উমরা ।। Haj &amp;....</a>

                        <a href="##"
                           class="p-[2px] px-2 mt-2 text-sm bg-[#FC0002] hover:bg-[#A80001] text-white inline-block">Read
                            More</a>
                    </div>
                </div>
                <div class="border p-1 group">
                    <div class="w-full aspect-video overflow-hidden">
                        <img class="w-full h-full group-hover:scale-125 duration-300 object-cover"
                             src="{% static 'picture/safaMarwaIndicator.png' %}"
                             alt="Learn How to Perform Hajj Step By Step Complete Video"/>
                    </div>
                    <div class="h-[120px]">
                        <a href="##"
                           class="group-hover:text-[#fc0002] duration-300 block my-2 font-bold">Learn How to
                            Perform Hajj Step By Step Complete Video </a>

                        <a href="##"
                           class="p-[2px] px-2 mt-2 text-sm bg-[#FC0002] hover:bg-[#A80001] text-white inline-block">Read
                            More</a>
                    </div>
                </div>
                <div class="border p-1 group">
                    <div class="w-full aspect-video overflow-hidden">
                        <img class="w-full h-full group-hover:scale-125 duration-300 object-cover"
                             src="{% static 'picture/doaPic.jpg' %}"
                             alt="Hajj: 7 things you don&#039;t know about the Muslim Pilgrimage - BBC News"/>
                    </div>
                    <div class="h-[120px]">
                        <a href="##"
                           class="group-hover:text-[#fc0002] duration-300 block my-2 font-bold">Hajj: 7 things
                            you don&#039;t know about the Muslim Pilgrimage....</a>

                        <a href="##"
                           class="p-[2px] px-2 mt-2 text-sm bg-[#FC0002] hover:bg-[#A80001] text-white inline-block">Read
                            More</a>
                    </div>
                </div>
            </div>
            <div class="text-center mt-14">
                <a href="##"
                   class="bg-[#fc0002] hover:bg-[#A80001] text-white px-6 py-2 rounded-full border border-x-2 border-b-4 border-black ">All
                    News</a>
            </div>
        </div>
    </div>
        <!--------------------------------1st section End---------------------------->
    <!------------------ 1st Section End and need to include secondsection.html here ------------------>
    
    {% include 'travel/secondSection.html' %}
    
</div>
<!------------------ 1st Section End and need to include secondsection.html here ------------------>