{% load static %}


    
                    <!-- HERO AREA START -->
<div class="w-full group mb-3 lg:mb-10">
  <div class="swiper sliderSwiper w-full">
      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                  <img src="{% static 'settings/download (1).jpeg' %}" class="aspect-[5/2] w-full object-cover" />
              </div>
                        <div class="swiper-slide">
                  <img src="{% static 'settings/2.jpg' %}" class="aspect-[5/2] w-full object-cover" />
              </div>
                        <div class="swiper-slide">
                  <img src="{% static 'settings/download1.jpeg' %}" class="aspect-[5/2] w-full object-cover" />
              </div>
                        <div class="swiper-slide">
                  <img src="{% static 'settings/images.jpeg' %}" class="aspect-[5/2] w-full object-cover" />
              </div>
                        <div class="swiper-slide">
                  <img src="{% static 'settings/2.jpg' %}" class="aspect-[5/2] w-full object-cover" />
              </div>
                </div>
      <div class="invisible group-hover:visible swiper-button-next">
        <img src="{% static 'icon/img.png' %}"/>
      </div>
      <div class="invisible group-hover:visible swiper-button-prev">
        <img src="{% static 'icon/slider-prev.png' %}"/>
      </div>
      <div class="swiper-pagination bg-gradient-to-t from-white/50 to-transparent pt-8 pb-3 !bottom-0"></div>
  </div>
</div>

<!-- HERO AREA END -->
    
