{% load static %}
{% load embed_video_tags %}
<!--------------2nd Section Start------------------->

<!--it need to include in first section,html-->
<div>
    <div class="border-4 border-[#FC0002] my-5">
        <div class="swiper asideSwiper w-full">
            <div class="swiper-wrapper">
                {% for side_slide in side_sliders %}
                    <div class="swiper-slide overflow-hidden">
                        <img src="{{ side_slide.side_slide_picture.url }}"
                             class="h-[550px]  w-full object-fill"/>
                    </div>
                {% endfor %}
            </div>

            <div class="swiper-pagination"></div>
        </div>
    </div>
    {% for iframe in settings %}

        {% video iframe.eye_frame_video as i_video %}

            <iframe class="h-[200px] mb-7 w-full" src="{{ i_video.url }}"
                    title="YouTube video player" frameborder="0"
                    {#                {% video iframe.eye_frame_video.url %}#}
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
        {% endvideo %}
    {% endfor %}

    <div class="mt-5">
        <h3 class="bg-[#FC0002] bg-gradient-to-tr from-[#fc002a] to-purple-800 relative after:absolute after:content after:left-0 after:top-0 after:bottom-0 after:w-[48px] after:bg-[url({% static 'icon/title-after-bg.png' %})] after:bg-cover before:absolute before:content before:right-0 before:[transform:scaleX(-1)] before:top-0 before:bottom-0 before:w-[48px] before:bg-[url({% static 'icon/title-after-bg.png' %})] before:bg-cover mb-2 p-2 text-2xl font-bold text-center text-white">
            Notice
        </h3>
        <div class="h-[calc(100%-65px)]  overflow-y-auto border">
            {% for notice in notices %}
                <a href="{% url 'notice-details' pk=notice.pk %}"
                   class="block p-2 border-b duration-300 hover:bg-slate-200">
                    <div class="flex items-center gap-3">
                        <i class="fa-regular fa-hand-point-right text-[12px] text-gray-600"></i>
                        <p class="line-clamp-1 font-medium">
                            {{ notice.subject }}
                        </p>
                    </div>
                    <p class="text-black pl-6 text-sm">
                                            <span class="font-bold">
                                                Publish:
                                            </span> {{ notice.updated }}
                    </p>
                </a>
            {% endfor %}
        </div>
    </div>

    <div>
        <h3 class="bg-[#FC0002] bg-gradient-to-tr from-[#fc002a] to-purple-800 relative after:absolute after:content after:left-0 after:top-0 after:bottom-0 after:w-[48px] after:bg-[url({% static 'icon/title-after-bg.png' %})] after:bg-cover before:absolute before:content before:right-0 before:[transform:scaleX(-1)] before:top-0 before:bottom-0 before:w-[48px] before:bg-[url({% static 'icon/title-after-bg.png' %})] before:bg-cover mb-2 p-2 text-2xl font-bold text-center text-white">
            Important Links
        </h3>
        <div class="h-[calc(100%-65px)]  overflow-y-auto border">
            <a href="https://www.google.com/" target="_blank"
               class="p-2 border-b last:border-b-0 flex items-center gap-3 duration-300 hover:bg-slate-200">
                <i class="fa-regular fa-hand-point-right text-[12px] text-gray-600"></i>
                <p class="line-clamp-1">Google</p>
            </a>
            <a href="https://www.facebook.com/" target="_blank"
               class="p-2 border-b last:border-b-0 flex items-center gap-3 duration-300 hover:bg-slate-200">
                <i class="fa-regular fa-hand-point-right text-[12px] text-gray-600"></i>
                <p class="line-clamp-1">Facebook</p>
            </a>
        </div>
    </div>
</div>
<!--------------2nd Section end------------------->