<!doctype html>
<html lang="en">
<head>
    <!-- required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- keywords -->
    <meta name="keywords"
          content="UK Jubo Dal, BNP youth wing in the UK, UK Jubo Dal activities,UK Jubo Dal members,BNP youth movement in the UK, BNP youth wing events in the UK, UK Jubo Dal news, BNP youth wing campaigns, UK Jubo Dal leaders, BNP youth wing participation in the UK, UK Jubo Dal membership, BNP youth wing rallies in the UK, UK Jubo Dal social media, BNP youth wing activism in the UK, UK Jubo Dal volunteers, BNP youth wing initiatives in the UK, UK Jubo Dal political engagement, BNP youth wing conferences in the UK, UK Jubo Dal community outreach, BNP youth wing support in the UK">
    <!-- Meta Description -->
    <meta name="description"
          content="Get involved with the UK Jubo Dal, the vibrant youth wing of the BNP in the United Kingdom. Discover opportunities for activism, leadership development, and contributing to a stronger Bangladesh.">


    <!-- CSRF Token -->
    <meta name="csrf-token" content="3lkDBI96IEk0pOLVMKLUS37KnlrtGDJVfraTJWt0">

    <!-- title -->
    <title>Home | Saadman Travels</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="https://sadmantravels.com/public/uploads/logo/1697868331.png">


    <!-- Tailwind CDN link -->
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>

    <!-- Swiper CSS CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>

    <!-- Font awesome CDN link -->
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />

    <!-- flowbite cdn link  -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css"
            rel="stylesheet"
    />

    <!-- AOC CSS cdn  -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"/>

    <!-- custom style -->
    <link rel="stylesheet" href="https://sadmantravels.com/public/frontend/style/style.css"/>

</head>

<body>
<div class="lg:px-20 bg-[url('https://sadmantravels.com/public/frontend/images/body-bg.jpg')] bg-repeat"
     style="background-size: 300px;background-attachment: fixed">
    <div class="container mx-auto bg-white">

        <!-- HEADER AREA START -->
        <div class="flex items-center justify-between px-2 py-2 relative z-[1] ">
            <a href="https://sadmantravels.com" class="lg:flex-[4] h-20 inline-flex items-center">
                <img src="https://sadmantravels.com/public/uploads/logo/1697868435.jpg" class="h-full" alt="Logo"/>
            </a>

            <div class="lg:flex-[4] justify-center flex items-center gap-2 h-full">
                <div class="bg-[#fc0002] border border-r-2 border-l-2 border-b-4 border-black px-4 py-2 w-[150px] cursor-pointer text-center text-white rounded-full"
                     id="play-music-button">
                    <i class="fa-solid fa-pause" id="icon"></i>
                    Audio
                </div>

                <audio id="music" class="hidden" loop autoplay controls
                       src="https://sadmantravels.com/public/frontend/audio/Labbaik_allahuma.mp3">
                    <a href="https://sadmantravels.com/public/frontend/audio/Labbaik_allahuma.mp3"> Download audio </a>
                </audio>
            </div>

            <div class="lg:flex-[4] hidden lg:flex flex-col items-end h-full">
                <div class="flex items-end flex-col gap-1 justify-center">
                    <a class="text-lg text-black flex items-center gap-2" href="tel:01914857860">
                        01914857860
                        <div class="h-7 w-7 flex items-center justify-center bg-[#fc0002] text-white rounded text-sm">
                            <i class="fa-solid fa-mobile-screen"></i>
                        </div>
                    </a>
                    <a class="text-lg text-black flex items-center gap-2" href="tel:01914857860">
                        sadmantravels.bd@gmail.com
                        <div class="h-7 w-7 flex items-center justify-center bg-[#fc0002] text-white rounded text-sm">
                            <i class="fa-regular fa-envelope"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <nav class="bg-[#FC0002]">
            <div class="flex flex-wrap items-center justify-between px-3 py-1 lg:p-0">
                <button data-collapse-toggle="navbar-dropdown" type="button"
                        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 "
                        aria-controls="navbar-dropdown" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                         viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M1 1h15M1 7h15M1 13h15"/>
                    </svg>
                </button>
                <div class="hidden w-full md:block md:w-auto" id="navbar-dropdown">
                    <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg  md:flex-row md:mt-0 md:border-0">
                        <li>
                            <a href="https://sadmantravels.com"
                               class="bg-[#A80001] block py-3 px-4 text-white hover:bg-[#A80001]">Home</a>
                        </li>
                        <li>
                            <a href="https://sadmantravels.com/about"
                               class=" block py-3 px-4 text-white hover:bg-[#A80001]">About Us </a>
                        </li>

                        <li>
                            <a href="https://sadmantravels.com/team"
                               class=" block py-3 px-4 text-white hover:bg-[#A80001]">Top Management </a>
                        </li>

                        <li class="group relative">
                            <div class="flex items-center gap-1 py-3 px-4 text-white  hover:bg-[#A80001]">Speeches <img
                                    src="https://sadmantravels.com/public/frontend/images/down-arrow.png"/></div>
                            <div class="absolute duration-300 group-hover:top-[48px] top-[100px] z-10 invisible opacity-0 group-hover:visible group-hover:opacity-100 font-normal bg-[#FC0002] divide-y divide-gray-100 shadow min-w-[200px] ">
                                <ul class="text-sm text-white">
                                    <li>
                                        <a href="https://sadmantravels.com/speech/2"
                                           class=" block px-4 py-2 hover:bg-[#A80001] whitespace-nowrap">President
                                            Speech</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="group relative">
                            <div class="flex items-center gap-1 py-3 px-4 text-white  hover:bg-[#A80001]">Hajj
                                Information <img src="https://sadmantravels.com/public/frontend/images/down-arrow.png"/>
                            </div>
                            <div class="absolute duration-300 group-hover:top-[48px] top-[100px] z-10 invisible opacity-0 group-hover:visible group-hover:opacity-100 font-normal bg-[#FC0002] divide-y divide-gray-100 shadow min-w-[200px] ">
                                <ul class="text-sm text-white">
                                    <li>
                                        <a href="https://sadmantravels.com/message"
                                           class=" block px-4 py-2  border-b hover:bg-[#A80001] whitespace-nowrap">Hajj
                                            Message</a>
                                    </li>
                                    <li>
                                        <a href="https://sadmantravels.com/must-be-done"
                                           class=" block px-4 py-2  border-b hover:bg-[#A80001] whitespace-nowrap">Hajj
                                            Must be Done</a>
                                    </li>
                                    <li>
                                        <a href="https://sadmantravels.com/agency-should"
                                           class=" block px-4 py-2  border-b hover:bg-[#A80001] whitespace-nowrap">Agency
                                            Should</a>
                                    </li>
                                    <li>
                                        <a href="https://sadmantravels.com/tips"
                                           class=" block px-4 py-2 hover:bg-[#A80001] whitespace-nowrap">Hajj Tips</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="group relative">
                            <div class="flex items-center gap-1 py-3 px-4 text-white  hover:bg-[#A80001]">Gallery <img
                                    src="https://sadmantravels.com/public/frontend/images/down-arrow.png"/></div>
                            <div class="absolute duration-300 group-hover:top-[48px] top-[100px] z-10 invisible opacity-0 group-hover:visible group-hover:opacity-100 font-normal bg-[#FC0002] divide-y divide-gray-100 shadow min-w-[200px] ">
                                <ul class="text-sm text-white">
                                    <li>
                                        <a href="https://sadmantravels.com/image-gallery"
                                           class=" block px-4 py-2 border-b hover:bg-[#A80001] whitespace-nowrap">Image
                                            Gallery</a>
                                    </li>
                                    <li>
                                        <a href="https://sadmantravels.com/video-gallery"
                                           class=" block px-4 py-2 hover:bg-[#A80001] whitespace-nowrap">Video
                                            Gallery</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <a href="https://sadmantravels.com/notice"
                               class=" block py-3 px-4 text-white hover:bg-[#A80001]">Notice </a>
                        </li>

                        <li>
                            <a href="https://sadmantravels.com/form"
                               class=" block py-3 px-4 text-white hover:bg-[#A80001]">
                                Form
                            </a>
                        </li>

                        <li>
                            <a href="https://sadmantravels.com/contact"
                               class=" block py-3 px-4 text-white hover:bg-[#A80001]">Contact</a>
                        </li>

                        <li class="group relative">
                            <div class="flex items-center gap-1 py-3 px-4 text-white hover:bg-[#A80001]">Login <img
                                    src="https://sadmantravels.com/public/frontend/images/down-arrow.png"/></div>
                            <div class="absolute duration-300 group-hover:top-[48px] right-0 top-[100px] z-10 invisible opacity-0 group-hover:visible group-hover:opacity-100 font-normal bg-[#FC0002] divide-y divide-gray-100 shadow min-w-[200px] ">
                                <ul class="text-sm text-white">
                                    <li>
                                        <a href="https://sadmantravels.com/admin/login"
                                           class="block px-4 py-2  border-b hover:bg-[#A80001] whitespace-nowrap">Admin</a>
                                    </li>
                                    <li>
                                        <a href=""
                                           class="block px-4 py-2 hover:bg-[#A80001] whitespace-nowrap">Webmail</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- HEADER AREA END -->


        <!-- HERO AREA START -->
        <div class="w-full group mb-3 lg:mb-10">
            <div class="swiper sliderSwiper w-full">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="https://sadmantravels.com/public/uploads/slider/1701351353.jpg"
                             class="aspect-[5/2] w-full object-cover"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="https://sadmantravels.com/public/uploads/slider/1695706051.jpg"
                             class="aspect-[5/2] w-full object-cover"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="https://sadmantravels.com/public/uploads/slider/1695706280.jpg"
                             class="aspect-[5/2] w-full object-cover"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="https://sadmantravels.com/public/uploads/slider/1695706262.jpg"
                             class="aspect-[5/2] w-full object-cover"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="https://sadmantravels.com/public/uploads/slider/1695706242.jpg"
                             class="aspect-[5/2] w-full object-cover"/>
                    </div>
                </div>
                <div class="invisible group-hover:visible swiper-button-next">
                    <img src="https://sadmantravels.com/public/frontend/images/slider-next.png"/>
                </div>
                <div class="invisible group-hover:visible swiper-button-prev">
                    <img src="https://sadmantravels.com/public/frontend/images/slider-prev.png"/>
                </div>
                <div class="swiper-pagination bg-gradient-to-t from-white/50 to-transparent pt-8 pb-3 !bottom-0"></div>
            </div>
        </div>

        <!-- HERO AREA END -->

        <div class="grid grid-cols-1 md:grid-cols-[auto_30%] mx-6 items-start  gap-6">

            <!------------------ 1st Section Start  ------------------>
            <div>
                <div class="relative z-[1] mt-5 bg-slate-200">
                    <div class="p-5">
                        <div class="grid lg:grid-cols-[270px_auto] gap-5">
                            <img class="aspect-square w-full rounded-lg object-cover"
                                 src="https://sadmantravels.com/public/uploads/teams/1698747202.jpg"/>
                            <div>
                                <h3 class="font-bold text-[#FC0002] my-3 text-lg line-clamp-2">Dr. Hasanuzzaman <span
                                        class="block text-sm text-gray-700">Chairman</span></h3>
                                <p class="float-left line-clamp-6">Today, as we gather here, I am reminded of the
                                    powerful words of Malcolm X: &quot;The pilgrimage to Mecca, known as Hajj, is a
                                    turning point in the life of every Muslim.&quot; It is indeed a profound journey,
                                    one that transforms hearts and souls, and I stand before you as the president of our
                                    esteemed Hajj agency to ensure that this transformative pilgrimage is a memorable
                                    and spiritually enriching experience for each and every one of our pilgrims.

                                    Before we delve further into the preparations and services we offer, let me share a
                                    quote that resonates deeply with the essence of the Hajj: &quot;He who performs Hajj
                                    without speaking or committing indecencies, returns as pure from sins as on the day
                                    his mother bore him.&quot; This Hadith emphasizes the importance of piety, purity,
                                    and devotion during the Hajj journey.

                                    Now, let&#39;s move on to the practical aspects of your pilgrimage. We understand
                                    that meticulous planning and organization are paramount. To that end, here is a list
                                    of essential items you should consider for your Hajj:


                                    Ihram clothing: The simple white attire symbolizes purity and equality among all
                                    pilgrims.
                                    Prayer rug and Quran: To engage in daily prayers and reflection during your journey.
                                    Personal hygiene products: Ensure you have toiletries, a toothbrush, and unscented
                                    soap.
                                    Medications and medical supplies: Carry any necessary prescriptions and basic
                                    first-aid items.
                                    Reusable water bottle: Staying hydrated is crucial during the Hajj, so have a
                                    refillable bottle.
                                    Comfortable walking shoes: You&#39;ll be on your feet a lot, so choose comfortable,
                                    sturdy footwear.
                                    Backpack or bag: Carry your essentials with you during the rituals.
                                    Identification and important documents: Passport, visa, and copies in a secure
                                    pouch.
                                    Mobile phone and charger: Stay connected with your group and loved ones.
                                    Snacks: High-energy, non-perishable items for sustenance.


                                    In our digital age, we understand the importance of staying connected, especially
                                    during this sacred journey.....</p>
                                <a href="https://sadmantravels.com/speech/2"
                                   class="relative inline-flex items-center gap-2 mt-5 font-bold py-1 px-3 duration-300 text-[#FC0002] border border-[#FC0002]/30 uppercase text-[12px] overflow-hidden rounded-md z-[1]  hover:text-white after:absolute after:content-[''] after:left-0 after:bottom-0 after:h-0 after:w-0 after:duration-300 after:z-[-1] after:bg-[#FC0002] hover:after:h-full hover:after:w-full ">Read
                                    More <i class="fa-regular fa-paper-plane"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bg-amber-700 w-full aspect-square my-5">
                    <img src="https://sadmantravels.com/public/frontend/images/home.jpg" class="h-full w-full" alt=""/>
                </div>

                <div>
                    <h3 class="bg-[#FC0002] bg-gradient-to-tr from-[#fc002a] to-purple-800 relative after:absolute after:content after:left-0 after:top-0 after:bottom-0 after:w-[48px] after:bg-[url(https://sadmantravels.com/public/frontend/images/title-after-bg.png)] after:bg-cover before:absolute before:content before:right-0 before:[transform:scaleX(-1)] before:top-0 before:bottom-0 before:w-[48px] before:bg-[url(https://sadmantravels.com/public/frontend/images/title-after-bg.png)] before:bg-cover mb-2 p-2 text-2xl font-bold text-center text-white">
                        Image Gallery
                    </h3>
                    <div class="gap-3 grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 items-start">
                        <a href="https://sadmantravels.com/public/uploads/media-gallery/1701351127.jpg"
                           data-fslightbox="gallery"
                           class="border-4 shadow-md overflow-hidden border-slate-300 relative block group-hover:grayscale-[100%] duration-300 h-[150px] w-full">
                            <img class="h-full w-full object-cover"
                                 src="https://sadmantravels.com/public/uploads/media-gallery/1701351127.jpg" alt="N/A"/>
                        </a>
                        <a href="https://sadmantravels.com/public/uploads/media-gallery/1695712424.jpg"
                           data-fslightbox="gallery"
                           class="border-4 shadow-md overflow-hidden border-slate-300 relative block group-hover:grayscale-[100%] duration-300 h-[150px] w-full">
                            <img class="h-full w-full object-cover"
                                 src="https://sadmantravels.com/public/uploads/media-gallery/1695712424.jpg" alt=""/>
                        </a>
                        <a href="https://sadmantravels.com/public/uploads/media-gallery/1695712417.jpg"
                           data-fslightbox="gallery"
                           class="border-4 shadow-md overflow-hidden border-slate-300 relative block group-hover:grayscale-[100%] duration-300 h-[150px] w-full">
                            <img class="h-full w-full object-cover"
                                 src="https://sadmantravels.com/public/uploads/media-gallery/1695712417.jpg" alt=""/>
                        </a>
                        <a href="https://sadmantravels.com/public/uploads/media-gallery/1695712411.jpg"
                           data-fslightbox="gallery"
                           class="border-4 shadow-md overflow-hidden border-slate-300 relative block group-hover:grayscale-[100%] duration-300 h-[150px] w-full">
                            <img class="h-full w-full object-cover"
                                 src="https://sadmantravels.com/public/uploads/media-gallery/1695712411.jpg" alt=""/>
                        </a>
                        <a href="https://sadmantravels.com/public/uploads/media-gallery/1695712405.jpg"
                           data-fslightbox="gallery"
                           class="border-4 shadow-md overflow-hidden border-slate-300 relative block group-hover:grayscale-[100%] duration-300 h-[150px] w-full">
                            <img class="h-full w-full object-cover"
                                 src="https://sadmantravels.com/public/uploads/media-gallery/1695712405.jpg" alt=""/>
                        </a>
                        <a href="https://sadmantravels.com/public/uploads/media-gallery/1695712399.jpg"
                           data-fslightbox="gallery"
                           class="border-4 shadow-md overflow-hidden border-slate-300 relative block group-hover:grayscale-[100%] duration-300 h-[150px] w-full">
                            <img class="h-full w-full object-cover"
                                 src="https://sadmantravels.com/public/uploads/media-gallery/1695712399.jpg" alt=""/>
                        </a>
                        <a href="https://sadmantravels.com/public/uploads/media-gallery/1695712393.jpg"
                           data-fslightbox="gallery"
                           class="border-4 shadow-md overflow-hidden border-slate-300 relative block group-hover:grayscale-[100%] duration-300 h-[150px] w-full">
                            <img class="h-full w-full object-cover"
                                 src="https://sadmantravels.com/public/uploads/media-gallery/1695712393.jpg" alt=""/>
                        </a>
                        <a href="https://sadmantravels.com/public/uploads/media-gallery/1695712387.jpg"
                           data-fslightbox="gallery"
                           class="border-4 shadow-md overflow-hidden border-slate-300 relative block group-hover:grayscale-[100%] duration-300 h-[150px] w-full">
                            <img class="h-full w-full object-cover"
                                 src="https://sadmantravels.com/public/uploads/media-gallery/1695712387.jpg" alt=""/>
                        </a>
                    </div>
                </div>

                <div class="my-5">
                    <h3 class="bg-[#FC0002] bg-gradient-to-tr from-[#fc002a] to-purple-800 relative after:absolute after:content after:left-0 after:top-0 after:bottom-0 after:w-[48px] after:bg-[url(https://sadmantravels.com/public/frontend/images/title-after-bg.png)] after:bg-cover before:absolute before:content before:right-0 before:[transform:scaleX(-1)] before:top-0 before:bottom-0 before:w-[48px] before:bg-[url(https://sadmantravels.com/public/frontend/images/title-after-bg.png)] before:bg-cover mb-2 p-2 text-2xl font-bold text-center text-white">
                        Latest News
                    </h3>
                    <div class="gap-3 grid md:grid-cols-2 lg:grid-cols-3 items-start">
                        <div class="border p-1 group">
                            <div class="w-full aspect-video overflow-hidden">
                                <img class="w-full h-full group-hover:scale-125 duration-300 object-cover"
                                     src="https://sadmantravels.com/public/uploads/featured-image/1696824147.jpg"
                                     alt="মক্কা | ইসলাম ধর্মের পবিত্রতম নগরী | বিশ্ব প্রান্তরে | Mecca | Bishwo Prantore"/>
                            </div>
                            <div class="h-[120px]">
                                <a href="https://sadmantravels.com/show-news/----------Mecca--Bishwo-Prantore"
                                   class="group-hover:text-[#fc0002] duration-300 block my-2 font-bold">মক্কা | ইসলাম
                                    ধর্মের পবিত্রতম নগরী | বিশ্ব প্রান্তরে |....</a>

                                <a href="https://sadmantravels.com/show-news/----------Mecca--Bishwo-Prantore"
                                   class="p-[2px] px-2 mt-2 text-sm bg-[#FC0002] hover:bg-[#A80001] text-white inline-block">Read
                                    More</a>
                            </div>
                        </div>
                        <div class="border p-1 group">
                            <div class="w-full aspect-video overflow-hidden">
                                <img class="w-full h-full group-hover:scale-125 duration-300 object-cover"
                                     src="https://sadmantravels.com/public/uploads/featured-image/1696824112.jpg"
                                     alt="মদীনা | হযরত মোহাম্মদ (সা:) এর প্রিয় শহর | বিশ্ব প্রান্তরে | Medina | Bishwo Prantore"/>
                            </div>
                            <div class="h-[120px]">
                                <a href="https://sadmantravels.com/show-news/------------Medina--Bishwo-Prantore"
                                   class="group-hover:text-[#fc0002] duration-300 block my-2 font-bold">মদীনা | হযরত
                                    মোহাম্মদ (সা:) এর প্রিয় শহর | বিশ্ব....</a>

                                <a href="https://sadmantravels.com/show-news/------------Medina--Bishwo-Prantore"
                                   class="p-[2px] px-2 mt-2 text-sm bg-[#FC0002] hover:bg-[#A80001] text-white inline-block">Read
                                    More</a>
                            </div>
                        </div>
                        <div class="border p-1 group">
                            <div class="w-full aspect-video overflow-hidden">
                                <img class="w-full h-full group-hover:scale-125 duration-300 object-cover"
                                     src="https://sadmantravels.com/public/uploads/featured-image/1696824055.jpg"
                                     alt="উমরাহ তালিম: উমরাহ করার নিয়ম, মাসলা-মাসায়েল এবং প্রশ্নোত্তর পর্ব"/>
                            </div>
                            <div class="h-[120px]">
                                <a href="https://sadmantravels.com/show-news/---------"
                                   class="group-hover:text-[#fc0002] duration-300 block my-2 font-bold">উমরাহ তালিম:
                                    উমরাহ করার নিয়ম, মাসলা-মাসায়েল এবং প্রশ্নোত্তর পর্ব </a>

                                <a href="https://sadmantravels.com/show-news/---------"
                                   class="p-[2px] px-2 mt-2 text-sm bg-[#FC0002] hover:bg-[#A80001] text-white inline-block">Read
                                    More</a>
                            </div>
                        </div>
                        <div class="border p-1 group">
                            <div class="w-full aspect-video overflow-hidden">
                                <img class="w-full h-full group-hover:scale-125 duration-300 object-cover"
                                     src="https://sadmantravels.com/public/uploads/featured-image/1696824010.jpg"
                                     alt="উমরাহ করার পদ্ধতি ।। হজ ও উমরা ।। Haj &amp; Umrah ।। Invitation to Change"/>
                            </div>
                            <div class="h-[120px]">
                                <a href="https://sadmantravels.com/show-news/--------Haj--Umrah--Invitation-to-Change"
                                   class="group-hover:text-[#fc0002] duration-300 block my-2 font-bold">উমরাহ করার
                                    পদ্ধতি ।। হজ ও উমরা ।। Haj &amp;....</a>

                                <a href="https://sadmantravels.com/show-news/--------Haj--Umrah--Invitation-to-Change"
                                   class="p-[2px] px-2 mt-2 text-sm bg-[#FC0002] hover:bg-[#A80001] text-white inline-block">Read
                                    More</a>
                            </div>
                        </div>
                        <div class="border p-1 group">
                            <div class="w-full aspect-video overflow-hidden">
                                <img class="w-full h-full group-hover:scale-125 duration-300 object-cover"
                                     src="https://sadmantravels.com/public/uploads/featured-image/1696823964.jpg"
                                     alt="Learn How to Perform Hajj Step By Step Complete Video"/>
                            </div>
                            <div class="h-[120px]">
                                <a href="https://sadmantravels.com/show-news/learn-how-to-perform-hajj-step-by-step-complete-video"
                                   class="group-hover:text-[#fc0002] duration-300 block my-2 font-bold">Learn How to
                                    Perform Hajj Step By Step Complete Video </a>

                                <a href="https://sadmantravels.com/show-news/learn-how-to-perform-hajj-step-by-step-complete-video"
                                   class="p-[2px] px-2 mt-2 text-sm bg-[#FC0002] hover:bg-[#A80001] text-white inline-block">Read
                                    More</a>
                            </div>
                        </div>
                        <div class="border p-1 group">
                            <div class="w-full aspect-video overflow-hidden">
                                <img class="w-full h-full group-hover:scale-125 duration-300 object-cover"
                                     src="https://sadmantravels.com/public/uploads/featured-image/1696823917.jpg"
                                     alt="Hajj: 7 things you don&#039;t know about the Muslim Pilgrimage - BBC News"/>
                            </div>
                            <div class="h-[120px]">
                                <a href="https://sadmantravels.com/show-news/hajj-7-things-you-dont-know-about-the-muslim-pilgrimage---bbc-news"
                                   class="group-hover:text-[#fc0002] duration-300 block my-2 font-bold">Hajj: 7 things
                                    you don&#039;t know about the Muslim Pilgrimage....</a>

                                <a href="https://sadmantravels.com/show-news/hajj-7-things-you-dont-know-about-the-muslim-pilgrimage---bbc-news"
                                   class="p-[2px] px-2 mt-2 text-sm bg-[#FC0002] hover:bg-[#A80001] text-white inline-block">Read
                                    More</a>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-14">
                        <a href="https://sadmantravels.com/news"
                           class="bg-[#fc0002] hover:bg-[#A80001] text-white px-6 py-2 rounded-full border border-x-2 border-b-4 border-black ">All
                            News</a>
                    </div>
                </div>
            </div>
            <!--------------2nd Section Start------------------->
            <div>
                <div class="border-4 border-[#FC0002] my-5">
                    <div class="swiper asideSwiper w-full">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide overflow-hidden">
                                <img src="https://sadmantravels.com/public/uploads/slider/1691668976.png"
                                     class="h-[550px]  w-full object-fill"/>
                            </div>
                            <div class="swiper-slide overflow-hidden">
                                <img src="https://sadmantravels.com/public/uploads/slider/1691668985.png"
                                     class="h-[550px]  w-full object-fill"/>
                            </div>
                            <div class="swiper-slide overflow-hidden">
                                <img src="https://sadmantravels.com/public/uploads/slider/1691668992.png"
                                     class="h-[550px]  w-full object-fill"/>
                            </div>
                            <div class="swiper-slide overflow-hidden">
                                <img src="https://sadmantravels.com/public/uploads/slider/1691668999.png"
                                     class="h-[550px]  w-full object-fill"/>
                            </div>
                        </div>

                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <iframe class="h-[200px] mb-7 w-full" src="https://www.youtube.com/embed/fngsHQ-Zv5s"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>

                <div class="mt-5">
                    <h3 class="bg-[#FC0002] bg-gradient-to-tr from-[#fc002a] to-purple-800 relative after:absolute after:content after:left-0 after:top-0 after:bottom-0 after:w-[48px] after:bg-[url(https://sadmantravels.com/public/frontend/images/title-after-bg.png)] after:bg-cover before:absolute before:content before:right-0 before:[transform:scaleX(-1)] before:top-0 before:bottom-0 before:w-[48px] before:bg-[url(https://sadmantravels.com/public/frontend/images/title-after-bg.png)] before:bg-cover mb-2 p-2 text-2xl font-bold text-center text-white">
                        Notice
                    </h3>
                    <div class="h-[calc(100%-65px)]  overflow-y-auto border">
                        <a href="https://sadmantravels.com/single/1"
                           class="block p-2 border-b duration-300 hover:bg-slate-200">
                            <div class="flex items-center gap-3">
                                <i class="fa-regular fa-hand-point-right text-[12px] text-gray-600"></i>
                                <p class="line-clamp-1 font-medium">
                                    সুস্থতার জন্য দোয়া কামনা
                                </p>
                            </div>
                            <p class="text-black pl-6 text-sm">
                                            <span class="font-bold">
                                                Publish:
                                            </span> Tuesday 10th October 2023
                            </p>
                        </a>
                        <a href="https://sadmantravels.com/single/2"
                           class="block p-2 border-b duration-300 hover:bg-slate-200">
                            <div class="flex items-center gap-3">
                                <i class="fa-regular fa-hand-point-right text-[12px] text-gray-600"></i>
                                <p class="line-clamp-1 font-medium">
                                    হজ এজেন্সির হালনাগাদ তথ্য সরবরাহ প্রসংগে
                                </p>
                            </div>
                            <p class="text-black pl-6 text-sm">
                                            <span class="font-bold">
                                                Publish:
                                            </span> Tuesday 10th October 2023
                            </p>
                        </a>
                        <a href="https://sadmantravels.com/single/3"
                           class="block p-2 border-b duration-300 hover:bg-slate-200">
                            <div class="flex items-center gap-3">
                                <i class="fa-regular fa-hand-point-right text-[12px] text-gray-600"></i>
                                <p class="line-clamp-1 font-medium">
                                    হজযাত্রীদের প্রাক নিবন্ধন বাতিলের টাকা প্রাপ্তির প্রক্রিয়া সহজীকরণ প্রসঙ্গে
                                </p>
                            </div>
                            <p class="text-black pl-6 text-sm">
                                            <span class="font-bold">
                                                Publish:
                                            </span> Tuesday 10th October 2023
                            </p>
                        </a>
                        <a href="https://sadmantravels.com/single/4"
                           class="block p-2 border-b duration-300 hover:bg-slate-200">
                            <div class="flex items-center gap-3">
                                <i class="fa-regular fa-hand-point-right text-[12px] text-gray-600"></i>
                                <p class="line-clamp-1 font-medium">
                                    ওমরাহ কার্যক্রমে এজেন্সির তালিকা প্রকাশ সংক্রান্ত বিজ্ঞপ্তি
                                </p>
                            </div>
                            <p class="text-black pl-6 text-sm">
                                            <span class="font-bold">
                                                Publish:
                                            </span> Tuesday 10th October 2023
                            </p>
                        </a>
                        <a href="https://sadmantravels.com/single/5"
                           class="block p-2 border-b duration-300 hover:bg-slate-200">
                            <div class="flex items-center gap-3">
                                <i class="fa-regular fa-hand-point-right text-[12px] text-gray-600"></i>
                                <p class="line-clamp-1 font-medium">
                                    হজযাত্রীদের ভিসা দ্রুত ইস্যুকরণ প্রসংগে
                                </p>
                            </div>
                            <p class="text-black pl-6 text-sm">
                                            <span class="font-bold">
                                                Publish:
                                            </span> Tuesday 10th October 2023
                            </p>
                        </a>
                        <a href="https://sadmantravels.com/single/6"
                           class="block p-2 border-b duration-300 hover:bg-slate-200">
                            <div class="flex items-center gap-3">
                                <i class="fa-regular fa-hand-point-right text-[12px] text-gray-600"></i>
                                <p class="line-clamp-1 font-medium">
                                    পাসপোর্টে হজযাত্রীদের বাড়ীর সঠিক ঠিকানার স্টিকার লাগানো প্রসংগে
                                </p>
                            </div>
                            <p class="text-black pl-6 text-sm">
                                            <span class="font-bold">
                                                Publish:
                                            </span> Tuesday 10th October 2023
                            </p>
                        </a>
                    </div>
                </div>

                <div>
                    <h3 class="bg-[#FC0002] bg-gradient-to-tr from-[#fc002a] to-purple-800 relative after:absolute after:content after:left-0 after:top-0 after:bottom-0 after:w-[48px] after:bg-[url(https://sadmantravels.com/public/frontend/images/title-after-bg.png)] after:bg-cover before:absolute before:content before:right-0 before:[transform:scaleX(-1)] before:top-0 before:bottom-0 before:w-[48px] before:bg-[url(https://sadmantravels.com/public/frontend/images/title-after-bg.png)] before:bg-cover mb-2 p-2 text-2xl font-bold text-center text-white">
                        Important Links
                    </h3>
                    <div class="h-[calc(100%-65px)]  overflow-y-auto border">
                        <a href="https://www.google.com/" target="_blank"
                           class="p-2 border-b last:border-b-0 flex items-center gap-3 duration-300 hover:bg-slate-200">
                            <i class="fa-regular fa-hand-point-right text-[12px] text-gray-600"></i>
                            <p class="line-clamp-1">Google</p>
                        </a>
                        <a href="https://www.facebook.com/" target="_blank"
                           class="p-2 border-b last:border-b-0 flex items-center gap-3 duration-300 hover:bg-slate-200">
                            <i class="fa-regular fa-hand-point-right text-[12px] text-gray-600"></i>
                            <p class="line-clamp-1">Facebook</p>
                        </a>
                    </div>
                </div>
            </div>
            <!--------------2nd Section end------------------->
        </div>

        <!------------------ FOOTER START ------------------>
        <footer class="relative text-white mt-[50px] md:mt-[100px] lg:mt-[200px] pt-5 bg-black z-[1] after:absolute after:content-[''] after:left-0 after:-top-[50px] md:after:-top-[100px] lg:after:-top-[200px] after:h-[50px] md:after:h-[100px] lg:after:h-[200px] after:w-full after:bg-contain after:bg-repeat-x after:bg-[url(https://sadmantravels.com/public/frontend/images/footer.png)]  after:z-[-1]">
            <div class="px-4">
                <div class="py-5 lg:py-10">
                    <div class="flex gap-8 flex-wrap">
                        <div class="lg:flex-[4]">
                            <h3 class="inline-block text-2xl  mb-5 text-white font-bold font-mono">About Sadman
                                Travel</h3>
                            <div>
                                <img src="public/uploads/logo/1697868435.jpg" alt="Logo" class="h-16 mb-2">
                                <p>
                                    Sadman Travels one of the leading Travel Agent In Bangladesh. We arrange Hajj,
                                    Umrah, Air Ticket.
                                </p>
                            </div>

                        </div>
                        <div class="lg:flex-[5]">
                            <h3 class="inline-block text-2xl  mb-5 text-white font-bold font-mono">Quick Touch</h3>
                            <div class="flex flex-col gap-2 text-lg">
                                <p class="flex items-start gap-3"><i class="inline-block mt-2 fa-solid fa-globe"></i>
                                    42/1 Shaheb Ali Road, Natun Bazar, Mymensingh, Bangladesh</p>
                                <p class="flex items-start gap-3"><i
                                        class="inline-block mt-2 fa-solid fa-mobile-screen-button"></i><a
                                        href="tel:01914857860">01914857860</a></p>
                                <p class="flex items-start gap-3"><i class="inline-block mt-2 fa-solid fa-at"></i> <a
                                        href="mailto:sadmantravels.bd@gmail.com">sadmantravels.bd@gmail.com</a></p>
                                <p class="flex items-start gap-3"><i class="inline-block mt-2 fa-regular fa-clock"></i>
                                    <span>Saturday-Thursday 09:00pm - 6:00pm </span></p>
                            </div>
                        </div>
                        <div class="lg:flex-[3]">
                            <h3 class="inline-block text-2xl  mb-5 text-white font-bold font-mono">Awesome Gallery</h3>
                            <div class="grid grid-cols-4 gap-2">
                                <a href="https://sadmantravels.com/image-gallery"
                                   class="h-[50px] overflow-hidden group">
                                    <img src="https://sadmantravels.com/public/uploads/media-gallery/1695105371.jpg"
                                         class="h-full w-full object-cover group-hover:scale-110 duration-300" alt=""/>
                                </a>
                                <a href="https://sadmantravels.com/image-gallery"
                                   class="h-[50px] overflow-hidden group">
                                    <img src="https://sadmantravels.com/public/uploads/media-gallery/1695105381.jpg"
                                         class="h-full w-full object-cover group-hover:scale-110 duration-300" alt=""/>
                                </a>
                                <a href="https://sadmantravels.com/image-gallery"
                                   class="h-[50px] overflow-hidden group">
                                    <img src="https://sadmantravels.com/public/uploads/media-gallery/1695105391.jpg"
                                         class="h-full w-full object-cover group-hover:scale-110 duration-300" alt=""/>
                                </a>
                                <a href="https://sadmantravels.com/image-gallery"
                                   class="h-[50px] overflow-hidden group">
                                    <img src="https://sadmantravels.com/public/uploads/media-gallery/1695105406.jpg"
                                         class="h-full w-full object-cover group-hover:scale-110 duration-300" alt=""/>
                                </a>
                                <a href="https://sadmantravels.com/image-gallery"
                                   class="h-[50px] overflow-hidden group">
                                    <img src="https://sadmantravels.com/public/uploads/media-gallery/1695105414.jpg"
                                         class="h-full w-full object-cover group-hover:scale-110 duration-300" alt=""/>
                                </a>
                                <a href="https://sadmantravels.com/image-gallery"
                                   class="h-[50px] overflow-hidden group">
                                    <img src="https://sadmantravels.com/public/uploads/media-gallery/1695105422.jpg"
                                         class="h-full w-full object-cover group-hover:scale-110 duration-300" alt=""/>
                                </a>
                                <a href="https://sadmantravels.com/image-gallery"
                                   class="h-[50px] overflow-hidden group">
                                    <img src="https://sadmantravels.com/public/uploads/media-gallery/1695105439.jpg"
                                         class="h-full w-full object-cover group-hover:scale-110 duration-300" alt=""/>
                                </a>
                                <a href="https://sadmantravels.com/image-gallery"
                                   class="h-[50px] overflow-hidden group">
                                    <img src="https://sadmantravels.com/public/uploads/media-gallery/1695105450.jpg"
                                         class="h-full w-full object-cover group-hover:scale-110 duration-300" alt=""/>
                                </a>
                                <a href="https://sadmantravels.com/image-gallery"
                                   class="h-[50px] overflow-hidden group">
                                    <img src="https://sadmantravels.com/public/uploads/media-gallery/1695105459.jpg"
                                         class="h-full w-full object-cover group-hover:scale-110 duration-300" alt=""/>
                                </a>
                                <a href="https://sadmantravels.com/image-gallery"
                                   class="h-[50px] overflow-hidden group">
                                    <img src="https://sadmantravels.com/public/uploads/media-gallery/1695106492.jpg"
                                         class="h-full w-full object-cover group-hover:scale-110 duration-300" alt=""/>
                                </a>
                                <a href="https://sadmantravels.com/image-gallery"
                                   class="h-[50px] overflow-hidden group">
                                    <img src="https://sadmantravels.com/public/uploads/media-gallery/1695106501.jpg"
                                         class="h-full w-full object-cover group-hover:scale-110 duration-300" alt=""/>
                                </a>
                                <a href="https://sadmantravels.com/image-gallery"
                                   class="h-[50px] overflow-hidden group">
                                    <img src="https://sadmantravels.com/public/uploads/media-gallery/1695106521.jpg"
                                         class="h-full w-full object-cover group-hover:scale-110 duration-300" alt=""/>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="flex items-center justify-between border-t border-t-[#ebebeb31] py-2">
                    <p>© 2024 Sadman Travels - All Right Reserved.</p>
                    <p>Developed By <a href="https://freelanceitlab.com">Freelance iT</a></p>
                </div>
            </div>
        </footer>
        <!------------------ FOOTER END ------------------>


    </div>
</div>


<!-- jQuery js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Swiper Js -->
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

<!-- FsLightBox -->
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/fslightbox/3.0.9/index.js"
        integrity="sha512-2VqLVM3WCyaqUgQb2hpoWHSus021RIN0Jq0wfrLqqLh+anm1kW/H4Yw7HVu3D5W4nbdUQmAA2mqQv2JEoy+kPA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
></script>

<!-- flowbite js cdn -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>


<!-- AOS JS cdn  -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<!-- include js -->
<script src="https://sadmantravels.com/frontend/js/main.js"></script>
<script src="https://sadmantravels.com/frontend/js/app.js"></script>

<script>
    $('#instant_contact').hide();
    $('#footerContact').submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: 'https://sadmantravels.com/contact/store',
            data: {
                _token: '3lkDBI96IEk0pOLVMKLUS37KnlrtGDJVfraTJWt0',
                type: 'instant_contact',
                full_name: $('#footerContactName').val(),
                mobile: $('#footerContactMobile').val(),
                description: $('#footerContactDescription').val(),
            },
            success: function (data) {
                if (data == 'instant_contact') {
                    $('#instant_contact').show();
                } else {
                    $('#instant_contact').hide();
                }
            }
        });
        $('#footerContactName').val('');
        $('#footerContactMobile').val('');
        $('#footerContactDescription').val('');
    });
</script>
</body>
</html>
