  {% extends 'dashboard/base.html' %}
{% load static %}
  {% block body_block %}
        <!-- body content start -->
        <div class="body_content">

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                       <a href="">
                           <div class="dash-box dash-box-1">
                              <span>Today's Income</span>
                              <h1>0</h1>
                           </div>
                       </a>
                    </div>
                    <div class="col-md-3">
                        <a href="">
                            <div class="dash-box dash-box-2">
                               <span>Today's Cost</span>
                               <h1>0</h1>
                            </div>
                        </a>
                     </div>
                     <div class="col-md-3">
                        <a href="">
                            <div class="dash-box dash-box-3">
                               <span>Today's Balance</span>
                               <h1>0</h1>
                            </div>
                        </a>
                     </div>
                     <div class="col-md-3">
                        <a href="">
                            <div class="dash-box dash-box-4">
                               <span>Monthly Income</span>
                               <h1>0</h1>
                            </div>
                        </a>
                     </div>
                     <div class="col-md-3">
                        <a href="">
                            <div class="dash-box dash-box-5">
                               <span>Monthly Cost</span>
                               <h1>0</h1>
                            </div>
                        </a>
                     </div>
                     <div class="col-md-3">
                        <a href="">
                            <div class="dash-box dash-box-6">
                               <span>Monthly Balance</span>
                               <h1>0</h1>
                            </div>
                        </a>
                     </div>
                </div>
             </div>
        </div>
        <!-- body content end -->

  {% endblock %}