{% extends 'dashboard/base.html' %}
{% load static %}
{% block body_block %}
    {% block data_menu %}
    	"about_slider"
    {% endblock %}
    <div class="body_container">
        <div class="body_content">
            <div class="panel_container">
                <div class="panel_heading">
                    <h4>About Slider</h4>
                    <div class="">
                        <a href="#" class="print_btn" id="plus" data-toggle="modal" data-target="#addModal">
                            <i class="fa fa-plus"></i> Add New
                        </a>
                    </div>
                </div>
                <div class="panel_body">
                    <div class="table-responsive">
                        <table class="table table-bordered list-table">
                            <thead>
                                <tr>
                                    <th width="40">SL</th>
                                    <th>About Slider Image</th>
                                    <th width="100" class="text-right print_hide">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for side_slide in side_slides %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td style="padding: 0px;">
                                            <img src="{{ side_slide.side_slide_picture.url }}" alt="" style="width: 70px; height: 100px;">
                                        </td>
                                        <td class="operation_btn text-right print_hide">
                                            <a href="#" onclick="editData('{{ side_slide.id }}')" data-toggle="modal" data-target="#editModal" class="edit" title="Edit">
                                                <i class="far fa-edit"></i>
                                            </a>
                                            <a href="#" onclick="deleteData('{{ side_slide.id }}')" class="delete" title="Delete">
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add modal -->
    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <form action="{% url 'dashBoard_app:side_lide_create' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title">Add About Slider</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="form-label">Title</label>
                            <input type="text" name="title" class="form-control" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label class="form-label">About Slider Image <span class="text-danger">(Max: 300px X 600px) *</span></label>
                            <input type="file" name="side_slide_picture" class="form-control">
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn submit_btn">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Edit modal -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <form id="updateImageForm" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title">Update About Slider</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="editImageId" name="id">
                        <div class="form-group">
                            <label class="form-label">Title</label>
                            <input type="text" id="editImageTitle" name="title" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="form-label">About Slider Image <span class="text-danger">(Max: 300px X 600px) *</span></label>
                            <img id="editImagePreview" src="" alt="" style="width: 150px; height: 80px;">
                            <input type="file" name="side_slide_picture" class="form-control">
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn submit_btn">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script_block %}
    <script>
        function editData(id) {
            $.ajax({
                url: '{% url "dashBoard_app:side_lide_detail" %}',
                data: { id: id },
                dataType: 'json',
                success: function (data) {
                    $('#editImageId').val(data.id);
                    $('#editImageTitle').val(data.title);
                    $('#editImagePreview').attr('src', data.side_slide_picture);
                    $('#updateImageForm').attr('action', '{% url "dashBoard_app:side_lide_update" %}');
                }
            });
        }

        function deleteData(id) {
            if (confirm("Are you sure you want to delete this slide?")) {
                $.ajax({
                    url: '{% url "dashBoard_app:side_lide_delete" %}',
                    data: { id: id },
                    dataType: 'json',
                    success: function (data) {
                        if (data.deleted) {
                            location.reload();
                        }
                    }
                });
            }
        }
    </script>
{% endblock %}
