<div class="grid grid-cols-1 md:grid-cols-[auto_30%] mx-6 items-start  gap-6">
                    
                    <!------------------ 1st Section Start  ------------------>
<div>
    <div class="relative z-[1] mt-5 bg-slate-200">
        <div class="p-5">
            <div class="grid lg:grid-cols-[270px_auto] gap-5">
                <img class="aspect-square w-full rounded-lg object-cover" src="https://sadmantravels.com/public/uploads/teams/1698747202.jpg">
                <div>
                    <h3 class="font-bold text-[#FC0002] my-3 text-lg line-clamp-2">Dr. Hasanuzzaman <span class="block text-sm text-gray-700">Chairman</span></h3>
                    <p class="float-left line-clamp-6">Today, as we gather here, I am reminded of the powerful words of Malcolm X: "The pilgrimage to Mecca, known as Hajj, is a turning point in the life of every Muslim." It is indeed a profound journey, one that transforms hearts and souls, and I stand before you as the president of our esteemed Hajj agency to ensure that this transformative pilgrimage is a memorable and spiritually enriching experience for each and every one of our pilgrims.

Before we delve further into the preparations and services we offer, let me share a quote that resonates deeply with the essence of the Hajj: "He who performs Hajj without speaking or committing indecencies, returns as pure from sins as on the day his mother bore him." This Hadith emphasizes the importance of piety, purity, and devotion during the Hajj journey.

Now, let's move on to the practical aspects of your pilgrimage. We understand that meticulous planning and organization are paramount. To that end, here is a list of essential items you should consider for your Hajj:


	Ihram clothing: The simple white attire symbolizes purity and equality among all pilgrims.
	Prayer rug and Quran: To engage in daily prayers and reflection during your journey.
	Personal hygiene products: Ensure you have toiletries, a toothbrush, and unscented soap.
	Medications and medical supplies: Carry any necessary prescriptions and basic first-aid items.
	Reusable water bottle: Staying hydrated is crucial during the Hajj, so have a refillable bottle.
	Comfortable walking shoes: You'll be on your feet a lot, so choose comfortable, sturdy footwear.
	Backpack or bag: Carry your essentials with you during the rituals.
	Identification and important documents: Passport, visa, and copies in a secure pouch.
	Mobile phone and charger: Stay connected with your group and loved ones.
	Snacks: High-energy, non-perishable items for sustenance.


In our digital age, we understand the importance of staying connected, especially during this sacred journey.....</p>
                    <a href="https://sadmantravels.com/speech/2" class="relative inline-flex items-center gap-2 mt-5 font-bold py-1 px-3 duration-300 text-[#FC0002] border border-[#FC0002]/30 uppercase text-[12px] overflow-hidden rounded-md z-[1]  hover:text-white after:absolute after:content-[''] after:left-0 after:bottom-0 after:h-0 after:w-0 after:duration-300 after:z-[-1] after:bg-[#FC0002] hover:after:h-full hover:after:w-full ">Read More <i class="fa-regular fa-paper-plane"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-amber-700 w-full aspect-square my-5">
        <img src="https://sadmantravels.com/public/frontend/images/home.jpg" class="h-full w-full" alt="">
    </div>

    <div>
                <h3 class="bg-[#FC0002] bg-gradient-to-tr from-[#fc002a] to-purple-800 relative after:absolute after:content after:left-0 after:top-0 after:bottom-0 after:w-[48px] after:bg-[url(https://sadmantravels.com/public/frontend/images/title-after-bg.png)] after:bg-cover before:absolute before:content before:right-0 before:[transform:scaleX(-1)] before:top-0 before:bottom-0 before:w-[48px] before:bg-[url(https://sadmantravels.com/public/frontend/images/title-after-bg.png)] before:bg-cover mb-2 p-2 text-2xl font-bold text-center text-white">
    Image Gallery
</h3>
        <div class="gap-3 grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 items-start">
                            <a href="https://sadmantravels.com/public/uploads/media-gallery/1701351127.jpg" data-fslightbox="gallery" class="border-4 shadow-md overflow-hidden border-slate-300 relative block group-hover:grayscale-[100%] duration-300 h-[150px] w-full">
                    <img class="h-full w-full object-cover" src="https://sadmantravels.com/public/uploads/media-gallery/1701351127.jpg" alt="N/A">
                </a>
                            <a href="https://sadmantravels.com/public/uploads/media-gallery/1695712424.jpg" data-fslightbox="gallery" class="border-4 shadow-md overflow-hidden border-slate-300 relative block group-hover:grayscale-[100%] duration-300 h-[150px] w-full">
                    <img class="h-full w-full object-cover" src="https://sadmantravels.com/public/uploads/media-gallery/1695712424.jpg" alt="">
                </a>
                            <a href="https://sadmantravels.com/public/uploads/media-gallery/1695712417.jpg" data-fslightbox="gallery" class="border-4 shadow-md overflow-hidden border-slate-300 relative block group-hover:grayscale-[100%] duration-300 h-[150px] w-full">
                    <img class="h-full w-full object-cover" src="https://sadmantravels.com/public/uploads/media-gallery/1695712417.jpg" alt="">
                </a>
                            <a href="https://sadmantravels.com/public/uploads/media-gallery/1695712411.jpg" data-fslightbox="gallery" class="border-4 shadow-md overflow-hidden border-slate-300 relative block group-hover:grayscale-[100%] duration-300 h-[150px] w-full">
                    <img class="h-full w-full object-cover" src="https://sadmantravels.com/public/uploads/media-gallery/1695712411.jpg" alt="">
                </a>
                            <a href="https://sadmantravels.com/public/uploads/media-gallery/1695712405.jpg" data-fslightbox="gallery" class="border-4 shadow-md overflow-hidden border-slate-300 relative block group-hover:grayscale-[100%] duration-300 h-[150px] w-full">
                    <img class="h-full w-full object-cover" src="https://sadmantravels.com/public/uploads/media-gallery/1695712405.jpg" alt="">
                </a>
                            <a href="https://sadmantravels.com/public/uploads/media-gallery/1695712399.jpg" data-fslightbox="gallery" class="border-4 shadow-md overflow-hidden border-slate-300 relative block group-hover:grayscale-[100%] duration-300 h-[150px] w-full">
                    <img class="h-full w-full object-cover" src="https://sadmantravels.com/public/uploads/media-gallery/1695712399.jpg" alt="">
                </a>
                            <a href="https://sadmantravels.com/public/uploads/media-gallery/1695712393.jpg" data-fslightbox="gallery" class="border-4 shadow-md overflow-hidden border-slate-300 relative block group-hover:grayscale-[100%] duration-300 h-[150px] w-full">
                    <img class="h-full w-full object-cover" src="https://sadmantravels.com/public/uploads/media-gallery/1695712393.jpg" alt="">
                </a>
                            <a href="https://sadmantravels.com/public/uploads/media-gallery/1695712387.jpg" data-fslightbox="gallery" class="border-4 shadow-md overflow-hidden border-slate-300 relative block group-hover:grayscale-[100%] duration-300 h-[150px] w-full">
                    <img class="h-full w-full object-cover" src="https://sadmantravels.com/public/uploads/media-gallery/1695712387.jpg" alt="">
                </a>
                    </div>
    </div>

    <div class="my-5">
                <h3 class="bg-[#FC0002] bg-gradient-to-tr from-[#fc002a] to-purple-800 relative after:absolute after:content after:left-0 after:top-0 after:bottom-0 after:w-[48px] after:bg-[url(https://sadmantravels.com/public/frontend/images/title-after-bg.png)] after:bg-cover before:absolute before:content before:right-0 before:[transform:scaleX(-1)] before:top-0 before:bottom-0 before:w-[48px] before:bg-[url(https://sadmantravels.com/public/frontend/images/title-after-bg.png)] before:bg-cover mb-2 p-2 text-2xl font-bold text-center text-white">
    Latest News
</h3>
        <div class="gap-3 grid md:grid-cols-2 lg:grid-cols-3 items-start">
                            <div class="border p-1 group">
                    <div class="w-full aspect-video overflow-hidden">
                        <img class="w-full h-full group-hover:scale-125 duration-300 object-cover" src="https://sadmantravels.com/public/uploads/featured-image/1696824147.jpg" alt="মক্কা | ইসলাম ধর্মের পবিত্রতম নগরী | বিশ্ব প্রান্তরে | Mecca | Bishwo Prantore">
                    </div>
                    <div class="h-[120px]">
                        <a href="https://sadmantravels.com/show-news/----------Mecca--Bishwo-Prantore" class="group-hover:text-[#fc0002] duration-300 block my-2 font-bold">মক্কা | ইসলাম ধর্মের পবিত্রতম নগরী | বিশ্ব প্রান্তরে |....</a>
                        
                        <a href="https://sadmantravels.com/show-news/----------Mecca--Bishwo-Prantore" class="p-[2px] px-2 mt-2 text-sm bg-[#FC0002] hover:bg-[#A80001] text-white inline-block">Read More</a>
                    </div>
                </div>
                            <div class="border p-1 group">
                    <div class="w-full aspect-video overflow-hidden">
                        <img class="w-full h-full group-hover:scale-125 duration-300 object-cover" src="https://sadmantravels.com/public/uploads/featured-image/1696824112.jpg" alt="মদীনা | হযরত মোহাম্মদ (সা:) এর প্রিয় শহর | বিশ্ব প্রান্তরে | Medina | Bishwo Prantore">
                    </div>
                    <div class="h-[120px]">
                        <a href="https://sadmantravels.com/show-news/------------Medina--Bishwo-Prantore" class="group-hover:text-[#fc0002] duration-300 block my-2 font-bold">মদীনা | হযরত মোহাম্মদ (সা:) এর প্রিয় শহর | বিশ্ব....</a>
                        
                        <a href="https://sadmantravels.com/show-news/------------Medina--Bishwo-Prantore" class="p-[2px] px-2 mt-2 text-sm bg-[#FC0002] hover:bg-[#A80001] text-white inline-block">Read More</a>
                    </div>
                </div>
                            <div class="border p-1 group">
                    <div class="w-full aspect-video overflow-hidden">
                        <img class="w-full h-full group-hover:scale-125 duration-300 object-cover" src="https://sadmantravels.com/public/uploads/featured-image/1696824055.jpg" alt="উমরাহ তালিম: উমরাহ করার নিয়ম, মাসলা-মাসায়েল এবং প্রশ্নোত্তর পর্ব">
                    </div>
                    <div class="h-[120px]">
                        <a href="https://sadmantravels.com/show-news/---------" class="group-hover:text-[#fc0002] duration-300 block my-2 font-bold">উমরাহ তালিম: উমরাহ করার নিয়ম, মাসলা-মাসায়েল এবং প্রশ্নোত্তর পর্ব </a>
                        
                        <a href="https://sadmantravels.com/show-news/---------" class="p-[2px] px-2 mt-2 text-sm bg-[#FC0002] hover:bg-[#A80001] text-white inline-block">Read More</a>
                    </div>
                </div>
                            <div class="border p-1 group">
                    <div class="w-full aspect-video overflow-hidden">
                        <img class="w-full h-full group-hover:scale-125 duration-300 object-cover" src="https://sadmantravels.com/public/uploads/featured-image/1696824010.jpg" alt="উমরাহ করার পদ্ধতি ।। হজ ও উমরা ।। Haj &amp; Umrah ।। Invitation to Change">
                    </div>
                    <div class="h-[120px]">
                        <a href="https://sadmantravels.com/show-news/--------Haj--Umrah--Invitation-to-Change" class="group-hover:text-[#fc0002] duration-300 block my-2 font-bold">উমরাহ করার পদ্ধতি ।। হজ ও উমরা ।। Haj &amp;....</a>
                        
                        <a href="https://sadmantravels.com/show-news/--------Haj--Umrah--Invitation-to-Change" class="p-[2px] px-2 mt-2 text-sm bg-[#FC0002] hover:bg-[#A80001] text-white inline-block">Read More</a>
                    </div>
                </div>
                            <div class="border p-1 group">
                    <div class="w-full aspect-video overflow-hidden">
                        <img class="w-full h-full group-hover:scale-125 duration-300 object-cover" src="https://sadmantravels.com/public/uploads/featured-image/1696823964.jpg" alt="Learn How to Perform Hajj Step By Step Complete Video">
                    </div>
                    <div class="h-[120px]">
                        <a href="https://sadmantravels.com/show-news/learn-how-to-perform-hajj-step-by-step-complete-video" class="group-hover:text-[#fc0002] duration-300 block my-2 font-bold">Learn How to Perform Hajj Step By Step Complete Video </a>
                        
                        <a href="https://sadmantravels.com/show-news/learn-how-to-perform-hajj-step-by-step-complete-video" class="p-[2px] px-2 mt-2 text-sm bg-[#FC0002] hover:bg-[#A80001] text-white inline-block">Read More</a>
                    </div>
                </div>
                            <div class="border p-1 group">
                    <div class="w-full aspect-video overflow-hidden">
                        <img class="w-full h-full group-hover:scale-125 duration-300 object-cover" src="https://sadmantravels.com/public/uploads/featured-image/1696823917.jpg" alt="Hajj: 7 things you don't know about the Muslim Pilgrimage - BBC News">
                    </div>
                    <div class="h-[120px]">
                        <a href="https://sadmantravels.com/show-news/hajj-7-things-you-dont-know-about-the-muslim-pilgrimage---bbc-news" class="group-hover:text-[#fc0002] duration-300 block my-2 font-bold">Hajj: 7 things you don't know about the Muslim Pilgrimage....</a>
                        
                        <a href="https://sadmantravels.com/show-news/hajj-7-things-you-dont-know-about-the-muslim-pilgrimage---bbc-news" class="p-[2px] px-2 mt-2 text-sm bg-[#FC0002] hover:bg-[#A80001] text-white inline-block">Read More</a>
                    </div>
                </div>
                    </div>
        <div class="text-center mt-14">
            <a href="https://sadmantravels.com/news" class="bg-[#fc0002] hover:bg-[#A80001] text-white px-6 py-2 rounded-full border border-x-2 border-b-4 border-black ">All News</a>
        </div>
    </div>
</div>

                    <div>
                                                    <div class="border-4 border-[#FC0002] my-5">
                                <div class="swiper asideSwiper w-full swiper-initialized swiper-horizontal swiper-backface-hidden">
    <div class="swiper-wrapper" id="swiper-wrapper-1e46d816d2df41b10" aria-live="off" style="transition-duration: 0ms; transform: translate3d(-624px, 0px, 0px); transition-delay: 0ms;">
                
                
                
                
            <div class="swiper-slide overflow-hidden swiper-slide-next" role="group" aria-label="3 / 4" data-swiper-slide-index="2" style="width: 208px;">
            <img src="https://sadmantravels.com/public/uploads/slider/1691668992.png" class="h-[550px]  w-full object-fill">
        </div><div class="swiper-slide overflow-hidden" role="group" aria-label="4 / 4" data-swiper-slide-index="3" style="width: 208px;">
            <img src="https://sadmantravels.com/public/uploads/slider/1691668999.png" class="h-[550px]  w-full object-fill">
        </div><div class="swiper-slide overflow-hidden swiper-slide-prev" role="group" aria-label="1 / 4" data-swiper-slide-index="0" style="width: 208px;">
            <img src="https://sadmantravels.com/public/uploads/slider/1691668976.png" class="h-[550px]  w-full object-fill">
        </div><div class="swiper-slide overflow-hidden swiper-slide-active" role="group" aria-label="2 / 4" data-swiper-slide-index="1" style="width: 208px;">
            <img src="https://sadmantravels.com/public/uploads/slider/1691668985.png" class="h-[550px]  w-full object-fill">
        </div></div>

    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 2" aria-current="true"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4"></span></div>
<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>                            </div>
                        
                        <iframe class="h-[200px] mb-7 w-full" src="https://www.youtube.com/embed/fngsHQ-Zv5s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>

                        <div class="mt-5">
                                                        <h3 class="bg-[#FC0002] bg-gradient-to-tr from-[#fc002a] to-purple-800 relative after:absolute after:content after:left-0 after:top-0 after:bottom-0 after:w-[48px] after:bg-[url(https://sadmantravels.com/public/frontend/images/title-after-bg.png)] after:bg-cover before:absolute before:content before:right-0 before:[transform:scaleX(-1)] before:top-0 before:bottom-0 before:w-[48px] before:bg-[url(https://sadmantravels.com/public/frontend/images/title-after-bg.png)] before:bg-cover mb-2 p-2 text-2xl font-bold text-center text-white">
    Notice
</h3>
                            <div class="h-[calc(100%-65px)]  overflow-y-auto border">
                                                                    <a href="https://sadmantravels.com/single/1" class="block p-2 border-b duration-300 hover:bg-slate-200">
                                        <div class="flex items-center gap-3">
                                            <i class="fa-regular fa-hand-point-right text-[12px] text-gray-600"></i>
                                            <p class="line-clamp-1 font-medium">
                                                সুস্থতার জন্য দোয়া কামনা
                                            </p>
                                        </div>
                                        <p class="text-black pl-6 text-sm">
                                            <span class="font-bold">
                                                Publish:
                                            </span> Tuesday 10th October 2023
                                        </p>
                                    </a>
                                                                    <a href="https://sadmantravels.com/single/2" class="block p-2 border-b duration-300 hover:bg-slate-200">
                                        <div class="flex items-center gap-3">
                                            <i class="fa-regular fa-hand-point-right text-[12px] text-gray-600"></i>
                                            <p class="line-clamp-1 font-medium">
                                                হজ এজেন্সির হালনাগাদ তথ্য সরবরাহ প্রসংগে
                                            </p>
                                        </div>
                                        <p class="text-black pl-6 text-sm">
                                            <span class="font-bold">
                                                Publish:
                                            </span> Tuesday 10th October 2023
                                        </p>
                                    </a>
                                                                    <a href="https://sadmantravels.com/single/3" class="block p-2 border-b duration-300 hover:bg-slate-200">
                                        <div class="flex items-center gap-3">
                                            <i class="fa-regular fa-hand-point-right text-[12px] text-gray-600"></i>
                                            <p class="line-clamp-1 font-medium">
                                                হজযাত্রীদের প্রাক নিবন্ধন বাতিলের টাকা প্রাপ্তির প্রক্রিয়া সহজীকরণ প্রসঙ্গে
                                            </p>
                                        </div>
                                        <p class="text-black pl-6 text-sm">
                                            <span class="font-bold">
                                                Publish:
                                            </span> Tuesday 10th October 2023
                                        </p>
                                    </a>
                                                                    <a href="https://sadmantravels.com/single/4" class="block p-2 border-b duration-300 hover:bg-slate-200">
                                        <div class="flex items-center gap-3">
                                            <i class="fa-regular fa-hand-point-right text-[12px] text-gray-600"></i>
                                            <p class="line-clamp-1 font-medium">
                                                ওমরাহ কার্যক্রমে এজেন্সির তালিকা প্রকাশ সংক্রান্ত বিজ্ঞপ্তি
                                            </p>
                                        </div>
                                        <p class="text-black pl-6 text-sm">
                                            <span class="font-bold">
                                                Publish:
                                            </span> Tuesday 10th October 2023
                                        </p>
                                    </a>
                                                                    <a href="https://sadmantravels.com/single/5" class="block p-2 border-b duration-300 hover:bg-slate-200">
                                        <div class="flex items-center gap-3">
                                            <i class="fa-regular fa-hand-point-right text-[12px] text-gray-600"></i>
                                            <p class="line-clamp-1 font-medium">
                                                হজযাত্রীদের ভিসা দ্রুত ইস্যুকরণ প্রসংগে
                                            </p>
                                        </div>
                                        <p class="text-black pl-6 text-sm">
                                            <span class="font-bold">
                                                Publish:
                                            </span> Tuesday 10th October 2023
                                        </p>
                                    </a>
                                                                    <a href="https://sadmantravels.com/single/6" class="block p-2 border-b duration-300 hover:bg-slate-200">
                                        <div class="flex items-center gap-3">
                                            <i class="fa-regular fa-hand-point-right text-[12px] text-gray-600"></i>
                                            <p class="line-clamp-1 font-medium">
                                                পাসপোর্টে হজযাত্রীদের বাড়ীর সঠিক ঠিকানার স্টিকার লাগানো প্রসংগে
                                            </p>
                                        </div>
                                        <p class="text-black pl-6 text-sm">
                                            <span class="font-bold">
                                                Publish:
                                            </span> Tuesday 10th October 2023
                                        </p>
                                    </a>
                                                            </div>
                        </div>

                        <div>
                                                        <h3 class="bg-[#FC0002] bg-gradient-to-tr from-[#fc002a] to-purple-800 relative after:absolute after:content after:left-0 after:top-0 after:bottom-0 after:w-[48px] after:bg-[url(https://sadmantravels.com/public/frontend/images/title-after-bg.png)] after:bg-cover before:absolute before:content before:right-0 before:[transform:scaleX(-1)] before:top-0 before:bottom-0 before:w-[48px] before:bg-[url(https://sadmantravels.com/public/frontend/images/title-after-bg.png)] before:bg-cover mb-2 p-2 text-2xl font-bold text-center text-white">
    Important Links
</h3>
                            <div class="h-[calc(100%-65px)]  overflow-y-auto border">
                                                                    <a href="https://www.google.com/" target="_blank" class="p-2 border-b last:border-b-0 flex items-center gap-3 duration-300 hover:bg-slate-200">
                                        <i class="fa-regular fa-hand-point-right text-[12px] text-gray-600"></i>
                                        <p class="line-clamp-1">Google</p>
                                    </a>
                                                                    <a href="https://www.facebook.com/" target="_blank" class="p-2 border-b last:border-b-0 flex items-center gap-3 duration-300 hover:bg-slate-200">
                                        <i class="fa-regular fa-hand-point-right text-[12px] text-gray-600"></i>
                                        <p class="line-clamp-1">Facebook</p>
                                    </a>
                                                            </div>
                        </div>
                    </div>
                </div>