{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block style_block %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/profile/profile.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <style>
        .user_profile .header_info {
            justify-content: center;
        }

        .user_profile .profile_img {
            max-width: 185px;
            width: 100%;
            height: 185px;
            margin-right: 0px;
            position: relative;
        }

        .user_profile h4 {
            border-bottom: 1px solid #303F9F85;
            padding-bottom: 10px;
        }

        .file-upload-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }

        .cover {
            position: absolute;
            top: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.6);
            color: white;
            padding: 5px;
            border-radius: 50%;
            cursor: pointer;
        }

        .file-upload {
            display: none;
        }
    </style>
{% endblock %}

{% block body_block %}
    <div class="body_nav">
        <ul>
            <li><a class="all_user" href="{% url 'registration_app:all_user' %}">All User</a></li>
        </ul>
    </div>

    <div class="body_content">
        <div class="panel_container">
            <div class="panel_heading">
                <h4>Create New User</h4>
            </div>
            <div class="panel_body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="user_profile">
                        <div class="row">
                            <div class="col-lg-3 col-md-4">
                                <div class="profile_info">
                                    <div class="header_info">
                                        <span class="profile_img">
                                            <img id="profileImage" class="file-upload-image"
                                                 src="{% static 'settings/img.png' %}" alt="Profile Image">
                                            <span class="cover" onclick="document.getElementById('fileInput').click();">
                                                <i class="fas fa-images"></i> Upload Image
                                            </span>
                                        </span>
                                        <input id="fileInput" type="file" name="picture" class="file-upload" accept="image/*" onchange="previewImage(event)">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-8">
                                <div class="password_form">
                                    <h4>Your Information</h4>
                                    <div class="form-group row">
                                        <div class="col-md-9">
                                            {{ profile_form.full_name|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-9">
                                            {{ profile_form.mobile_number|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-9">
                                            {{ profile_form.email|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-9">
                                            {{ profile_form.address|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-9">
                                            {{ user_form.username|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-9">
                                            {{ user_form.password|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-9">
                                            {{ user_form.password_confirmation|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-9">
                                            {{ profile_form.privileges|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div style="padding-left: 15px">
                                            <button type="submit" class="btn submit_btn">Submit</button>
                                            <button type="reset" class="btn reset_btn">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script_block %}
<script>
    function previewImage(event) {
        const reader = new FileReader();
        reader.onload = function () {
            const output = document.getElementById('profileImage');
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    }
</script>
{% endblock %}
