{% extends 'dashboard/base.html' %}
{% load static %}
{% block body_block %}
    <div class="body_nav">
        <ul>
            <li><a class="addPost" href="{{ custom_url }}">All {{ heading }}</a></li>
            {#                <li><a class="allPost" href="{% url 'dashBoard_app:all_speach' %}">All Speach</a></li>#}
        </ul>
    </div>
    <div class="body_content">
        <div class="panel_container">
            <div class="panel_heading">
                <h4>Delete User</h4>


            </div>
        </div>
        <form method="POST">
            {% csrf_token %}
            <br><br>
            <a href="#">
                <h3>Delete {{ user.profile.full_name}} {{ user.profile.email }} {{ all.date }} {{ all.pub_date }}<h4
                        style="color: #e55621">{{ all.subject }}</h4> <a
                        href="{{ all.file.url }}"> {{ all.file.url }} ?</a><br>
                </h3>
            </a>
            <input type="submit" value="Delete" class="btn btn-danger" onMouseOver="this.style.color='#0F0'"
                   onMouseOut="this.style.color='#ffffff'"><br><br>
                        <img src="{{ user.profile.picture.url }}" style="height: 300px;width: 300px;" alt="Click above link to view pdf">
        </form>

    </div>
{% endblock %}