{% extends 'dashboard/base.html' %}
<title>notification</title>
{% load static %}
{% block style_block %}
	<style>
        .notification-badge {
            background-color: red;
            color: white;
            padding: 5px 10px;
            border-radius: 50%;
            font-size: 14px;
        {#position: absolute;#}{#top: -10px;#}{#right: -10px;#}
        }


        .user_dropdown .sub_menu {
            list-style: none;
            padding: 0;
            margin: 0;
            background-color: #fff;
            border: 1px solid #ccc;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            width: 300px; /* Adjust width as needed */
        }

        .user_dropdown .sub_menu .message-list-container {
            max-height: 300px; /* Set the max height for the scrollable area */
            overflow-y: auto; /* Enable vertical scrolling when content exceeds max height */
        }

        .user_dropdown .sub_menu li {
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }

        .user_dropdown .sub_menu li.head {
            font-weight: bold;
            background-color: #f8f8f8;
            border-bottom: none;
        }

        .user_dropdown .sub_menu li a {
            text-decoration: none;
            color: #333;
            display: block;
        }

    </style>
{% endblock %}
{% block body_block %}
	<div style="padding-top: 50px;padding-left: 50px;padding-right: 100px">
    <li class="user_dropdown">
        <a href="#" class="menu-button">

            {% if message_count > 0 %}
                <span class="notification-badge">{{ message_count }}</span>
            {% endif %}
        </a>
        <ul class="sub_menu">
            <li class="head">
                <a href="#">
                    <h6>You have {{ message_count }} message{{ message_count|pluralize }}</h6>
                </a>
            </li>
            {% for message in unseen_messages %}
                <li>
                    <a href="#">
                        <span>{{ message.message|truncatechars:60 }}</span>
                        <small>{{ message.date|timesince }} ago</small>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
</div>
<BR>
<BR>
<BR>
<br>
<br>
<br>
<div style="padding-top: 50px; padding-left: 50px; padding-right: 100px;">
    <li class="user_dropdown">
        <a href="#" class="menu-button">
            <i class="icon ion-ios-mail io-21"></i>
            {% if message_count > 0 %}
                <span class="notification-badge">{{ message_count }}</span>
            {% endif %}
        </a>
        <ul class="sub_menu">
            <li class="head">
                <a href="#">
                    <h6>You have {{ message_count }} message{{ message_count|pluralize }}</h6>
                </a>
            </li>
            <div class="message-list-container">
                {% for message in unseen_messages %}
                    <li>
                        <a href="#">
                            <span>{{ message.message|truncatechars:60 }}</span>
                            <small>{{ message.date|timesince }} ago</small>
                        </a>
                    </li>
                {% endfor %}
            </div>
        </ul>
    </li>
</div>
<BR>
<BR>
<BR>
<br>
<br>
<br>
{% endblock %}




